@using Newtonsoft.Json
@inject AppData AppData

<div class="row" style="margin-top:10px;">
    <div class="col d-flex justify-content-center align-items-center">
        <span>Keep your Private key on safe place! Do not forget to do backup!</span>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col d-flex justify-content-center align-items-center">
        <span>Before display the Private key, be sure no one look at you!</span>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col d-flex justify-content-center align-items-center">
        <small>If your account is unlocked now you can display not encrypted private key. If account is locked the key is encrypted with your password.</small>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-primary" @onclick="downloadAccountKey">Show Private Key</button>
    </div>
</div>

<Modal Title="Your Private Key"
       Visible="@privateKeyDialogVisible"
       OnOk="@privateKeyDialogClose"
       OnCancel="@privateKeyDialogClose">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Your Private Key</span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <span class="text-warning text-uppercase">Dont show/share/send this anywhere!!! Keep it in secret!!!</span>
                </div> 
            </div>
            <div class="row d-flex justify-content-center align-items-center text-wrap">
                <div class="col">
                    <h6 class="text-center text-wrap">@accountKey</h6>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <VENFTApp_Blazor.Components.HelperButtons.CopyIcon TextToCopy="@accountKey" />
                    @try
                    {
                        <VENFTApp_Blazor.Components.HelperButtons.QRIcon MarginLeft="10" TextToCopy="accountKey" Close="closeQRModal" />
                    }
                    catch (Exception ex)
                    {
                        //todo
                    }
                    <VENFTApp_Blazor.Components.HelperButtons.SaveTextAsFile MarginLeft="10" TextToSave="@keyToSave" FileName="@filename" />
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center text-wrap">
                <div class="col">
                    <span class="text-center text-wrap">Sub Accounts</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center text-wrap">
                <div class="col">
                    @foreach (var sacc in subaccountkeys)
                    {
                        <hr />
                        <div class="row d-flex justify-content-center align-items-center text-wrap">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <small class="text-center text-wrap">Address</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small class="text-center text-wrap">@sacc.Key</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <VENFTApp_Blazor.Components.HelperButtons.CopyIcon TextToCopy="@sacc.Key" />
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center text-wrap">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <small class="text-center text-wrap">Key</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <small class="text-center text-wrap">@sacc.Value</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <VENFTApp_Blazor.Components.HelperButtons.CopyIcon TextToCopy="@sacc.Value" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</Modal>

@code {

    [Parameter]
    public bool DogeAccountKey { get; set; } = false;

    private bool closeQRModal = false;
    private bool privateKeyDialogVisible = false;
    private System.Threading.Timer hideTimer;
    private string accountKey = string.Empty;
    private string ekey = string.Empty;
    private string keyToSave = string.Empty;
    private string filename = string.Empty;
    private Dictionary<string, string> subaccountkeys = new Dictionary<string, string>();

    private async Task downloadAccountKey()
    {
        if (string.IsNullOrEmpty(AppData.Account.Address))
            return;

        var addr = string.Empty;
        var ekey = string.Empty;

        if (!DogeAccountKey)
        {
            addr = AppData.Account.Address;
            ekey = AppData.Account.AccountKey.GetEncryptedKey(returnEncrypted: true);
            if (AppData.Account.IsLocked())
            {
                accountKey = ekey;
                privateKeyDialogVisible = true;
            }
            else
            {
                try
                {
                    accountKey = AppData.Account.AccountKey.GetEncryptedKey();
                    var ack = await AppData.Account.GetSubAccountKeys();
                    subaccountkeys = ack.Item2;
                    privateKeyDialogVisible = true;
                }
                catch (Exception ex)
                {
                    accountKey = "Exception during display key. " + ex.Message;
                }
            }
        }
        else
        {
            addr = AppData.DogeAccount.Address;
            ekey = AppData.DogeAccount.AccountKey.GetEncryptedKey(returnEncrypted: true);
            if (AppData.DogeAccount.IsLocked())
            {
                accountKey = ekey;
                privateKeyDialogVisible = true;
            }
            else
            {
                try
                {
                    accountKey = AppData.DogeAccount.AccountKey.GetEncryptedKey();
                    privateKeyDialogVisible = true;
                }
                catch (Exception ex)
                {
                    accountKey = "Exception during display key. " + ex.Message;
                }
            }
        }

        closeQRModal = false;
        StateHasChanged();

        //keyToSave = "{ Address:\"" + AppData.Account.Address + "\", EncryptedKey:\"" + ekey + "\", DecryptedKey:\"" + accountKey + "\" }";
        keyToSave = "{ \"Address\":\"" + addr + "\", \"EncryptedKey\":\"" + ekey + "\" }";
        if (!DogeAccountKey && AppData.Account.SubAccounts.Count > 0)
        {
            var saccnts = AppData.Account.SerializeSubAccounts();
            keyToSave = "{ \"Address\":\"" + addr + "\", \"EncryptedKey\":\"" + ekey + "\", \"SubAccounts\": " + saccnts + " }";
        }
        if (!DogeAccountKey)
            filename = "Key-Export-" + addr + ".txt";
        else
            filename = "Doge-Key-Export-" + addr + ".txt";

        hideTimer = new System.Threading.Timer(async (object stateInfo) =>
        {
            accountKey = string.Empty;
            privateKeyDialogVisible = false;
            StateHasChanged();
            hideTimer.Dispose();
        }, new System.Threading.AutoResetEvent(false), 10000, 10000);
    }

    private async Task privateKeyDialogClose(MouseEventArgs e)
    {
        accountKey = string.Empty;
        closeQRModal = true;
        StateHasChanged();
        await Task.Delay(100);
        privateKeyDialogVisible = false;
    }

}
