@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.Cryptocurrencies
@using Newtonsoft.Json
@inject AppData AppData
@inject HttpClient _client
@inject IJSRuntime JSRuntime

@if (DisplayButton)
{
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <button class="btn btn-primary" @onclick="ShowRequestPaymentDialog">Request Payment</button>
        </div>
    </div>
}

<Modal Title="Request Payment"
       Visible="@showLinkDialogVisible"
       Style="width:100%; min-width:250px; max-width:400px;"
       OnCancel="@showLinkDialogCancel"
       Footer="null">

    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:20px;">
            <h6 class="text-center">Message in payment</h6>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:10px;">
            <Input Placeholder="Type the payment message" MaxLength="200" @bind-Value=@message Style="font-size:12px; width:90%; min-width:250px; max-width:400px;" />
        </div>
    </div>
    @if (string.IsNullOrEmpty(message) || string.IsNullOrWhiteSpace(message))
    {
        <div class="row" style="margin-top:2px;">
            <div class="col d-flex justify-content-center align-items-center">
                <small class="text-info text-center">You should fill this field. Otherwise, it will add default message "Sent with VENFT App".</small>
            </div>
        </div>
    }
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:20px;">
            <h6 class="text-center">Set the amount to request in the Payment</h6>
        </div>
    </div>

    <VENFTApp_Blazor.Components.Crypto.PriceCalculator AmountsChanged="@AmountsChangedHandler" />

    <div class="row" style="margin-top:15px;">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:20px;">
            <button class="btn btn-primary" @onclick="() => ShowLink(CurrencyTypes.NEBL)">@(string.IsNullOrEmpty(paymentLink)? "Show Payment Link and QR Code for Neblio" : "Refresh Payment link and QR Code for Neblio")</button>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:20px;">
            <button class="btn btn-primary" @onclick="() => ShowLink(CurrencyTypes.DOGE)">@(string.IsNullOrEmpty(paymentLink)? "Show Payment Link and QR Code for Doge" : "Refresh Payment link and QR Code for Doge")</button>
        </div>
    </div>
    <hr style="margin-top:10px;" />
    @if (!string.IsNullOrEmpty(paymentLink))
    {
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center" style="margin-top:10px;">
                <a href="@paymentLink" target="_blank" class="text-center" style="width:90%;max-width:350px;">@paymentLink</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center" style="margin-top:10px;">
            <div @ref=qrCodeRef></div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(paymentLink))
    {
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center" style="margin-top:10px;">
                <VENFTApp_Blazor.Components.HelperButtons.CopyButton TextToCopy="@paymentLink" />
            </div>
        </div>
    }
</Modal>

@code {

    private bool showLink = false;
    [Parameter]
    public bool ShowLinkDialog
    {
        get => showLink;
        set
        {
            if (!showLink && value)
            {
                showLink = true;
                ShowRequestPaymentDialog();
            }
            else if (!value)
            {
                showLink = false;
                showLinkDialogVisible = false;
            }
        }
    }

    [Parameter]
    public bool DisplayButton { get; set; } = false;

    [Parameter]
    public string Address { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<bool> DialogClosed { get; set; }

    private bool showLinkDialogVisible = false;

    private double AmountToSend = 1.0;

    private double NeblioAmount = 1.0;
    private double DogeAmount = 1.0;

    private string message = string.Empty;
    private string paymentLink = string.Empty;

    private CurrencyTypes SelectedCurrencyToRequest = CurrencyTypes.NEBL;

    private ElementReference qrCodeRef;

    private void AmountsChangedHandler(IDictionary<CurrencyTypes, double> e)
    {
        if (e.TryGetValue(CurrencyTypes.NEBL, out var n))
            NeblioAmount = n;
        if (e.TryGetValue(CurrencyTypes.DOGE, out var d))
            DogeAmount = d;
    }

    private async Task ShowLink(CurrencyTypes currency)
    {
        SelectedCurrencyToRequest = currency;
        var curr = (currency == CurrencyTypes.NEBL) ? "NEBL" : "DOGE";
        var addr = Address;
        if (currency == CurrencyTypes.DOGE)
            addr = AppData.DogeAccount.Address;

        AmountToSend = (currency == CurrencyTypes.NEBL) ? NeblioAmount : DogeAmount;

        var msg = message;
        if (string.IsNullOrEmpty(msg) || string.IsNullOrWhiteSpace(msg))
            msg = "Sent with VENFT App";
        if (AmountToSend <= 0)
        {
            await JSRuntime.InvokeVoidAsync("alertMessage", $"Minimal amount is 0.001 {curr}.");
            return;
        }
        paymentLink = $"https://ve-nft.com/payment?add={addr}&msg={msg}&curr={curr}&amnt={AmountToSend}";// &rdc=https%3A%2F%2Fabout.ve-nft.com%2F";
        await JSRuntime.InvokeVoidAsync("jsFunctions.getQRCode", new object[] { paymentLink, qrCodeRef });
        StateHasChanged();
    }

    private async Task ShowRequestPaymentDialog()
    {
        if (!AppData.ExchangePriceService.IsActive)
            await AppData.ExchangePriceService.InitPriceService(ExchangeRatesAPITypes.Coingecko, Address, CurrencyTypes.NEBL);
        AppData.RegisterPriceServiceEventHandler();
        showLinkDialogVisible = true;
        StateHasChanged();
    }
    private async Task showLinkDialogCancel(MouseEventArgs e)
    {
        await DialogClosed.InvokeAsync(false);
        showLinkDialogVisible = false;
    }

}
