@inject AppData AppData

<ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(VEBlazor.Layouts.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(VEBlazor.Layouts.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    
<VEBlazor.Components.VEBlazorServicesComponents />
</ThemeProvider>
@code {
    Theme theme = VEBlazor.Models.Themes.DefaultTheme.GetDefaultTheme();

    protected override async Task OnInitializedAsync()
    {
        AppData.AppName = "BaseDataPlace";
        AppData.AppNick = "BDP";
        AppData.AppHomeWebsiteUrl = "https://basedataplace.com/";

        AppData.NFTInMintingForm = new VEDriversLite.NFT.Imaging.Xray.XrayImageNFT();
        AppData.AllowedNFTTypes = new List<VEDriversLite.NFT.NFTTypes>()
        { 
            VEDriversLite.NFT.NFTTypes.Profile, 
            VEDriversLite.NFT.NFTTypes.Xray, 
            VEDriversLite.NFT.NFTTypes.XrayImage 
        };

        await base.OnInitializedAsync();
    }
}