@using VEFramework.Demo.PublishingDisplay.Components
@using VEFramework.Demo.PublishingDisplay.Services.NFTs
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Tags
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Coruzant
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject AppData AppData

@page "/tags"

<PageTitle>Coruzant Profiles By Tags</PageTitle>

<Container Fluid>
    <Row Flex="Flex.AlignItems.Center">
        <Column Flex="Flex.JustifyContent.Center">
            <Heading Size="HeadingSize.Is3" Style="text-decoration: underline;">Profiles By Tags</Heading>
        </Column>
    </Row>
    <Row Margin="Margin.Is3.FromTop">
        <Column Flex="Flex.JustifyContent.Center">
                <CardGroup>
                    @foreach (var tag in AppData.Tags.Take(9))
                    {
                        <Card Style="min-width:300px;max-width:350px;" Margin="Margin.Is4.FromStart.Is4.FromEnd.Is4.FromBottom">
                            <CardImage Source="@tag.Value.Image" Alt="@tag.Value.Name"></CardImage>
                            <CardBody>
                                <CardTitle Flex="Flex.JustifyContent.Center">@tag.Key</CardTitle>

                                <DescriptionOnCard Text="@tag.Value.Description" />

                                <Row Margin="Margin.Is4.FromTop">
                                    <Column Flex="Flex.JustifyContent.Center">
                                        <Button Class="readmoreprofilebutton" Clicked="@(() => OpenProfilesGroup(tag.Value))">
                                            <Span Style="font-size:14px;" Display="Display.None.OnMobile.None.OnTablet.Inline.OnDesktop">Read more</Span>
                                            <Span Style="font-size:8px;" Display="Display.Inline.OnMobile.Inline.OnTablet.None.OnDesktop">Read more</Span>
                                        </Button>
                                    </Column>
                                </Row>
                            </CardBody>
                        </Card>
                    }
                </CardGroup>
        </Column>
    </Row>
    <Row Margin="Margin.Is5.FromTop.Is2.FromBottom">
        <Column>
        </Column>
    </Row>
</Container>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AppData.NFTsLoaded += NFTsLoadedHandler;
        if (!AppData.LoadedBase)
            await AppData.LoadNFTs();

        var tags = new Dictionary<string, Tag>();
        Configuration.Bind("Tags", tags);
        AppData.Tags = tags;
        Console.WriteLine("Loaded Tags List:");
        Console.WriteLine(AppData.Tags);
    }

    public void OpenProfilesGroup(Tag tag)
    {
        NavigationManager.NavigateTo($"profiles?tag={tag.Name}");
    }

    public void NFTsLoadedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}


