@using Newtonsoft.Json
@using Markdig
@inject HttpClient Http
@inherits CommonComponentBase

<Row >
    <Column Flex="Flex.JustifyContent.Center">
        <Span>@Intro</Span>
    </Column>
</Row>

<Row Margin="Margin.Is3.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>@FieldTitle</Span>
    </Column>
</Row>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <TextEdit Placeholder="@Hint" @bind-Text="BaseText" MaxLength="250" />
        
    </Column>
</Row>
<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Button Color="Color.Primary" Clicked="@CreateTextAction" Loading="@Loading" Block>@ButtonCaptionText</Button>
    </Column>
</Row>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Heading Size="HeadingSize.Is4">@LessonTitle</Heading>
    </Column>
</Row>

<Row Margin="Margin.Is2.FromTop">
    <Column Flex="Flex.JustifyContent.Center">
        <Span>@((MarkupString)NFTTextMarkuptext)</Span>
    </Column>
</Row>

    @code {

    public string Intro
    {
        get
        {
            if (Language == Languages.en2es)
                return "Please, fill the basic info of what the lesson should be about.";
            if (Language == Languages.cz2es)
                return "Vyplňte prosím základní info o čem chcete mít lekci španělštiny.";
            if (Language == Languages.de2es)
                return "Bitte füllen Sie die grundlegenden Informationen darüber aus, welche Art von Spanisch-Lektion Sie wünschen möchten.";
            if (Language == Languages.nl2es)
                return "Vul alstublieft de basisinformatie in van waar de les over zou moeten gaan.";

            return "Please, fill the basic info of what the lesson should be about.";
        }
    }

    public string FieldTitle
    {
        get
        {
            if (Language == Languages.en2es)
                return "Create lesson of spanish about...";
            if (Language == Languages.cz2es)
                return "Vytvoř lekci španělštiny o ...";
            if (Language == Languages.de2es)
                return "Erstelle eine Spanisch-Lektion über ...";
            if (Language == Languages.nl2es)
                return "Maak les Spaans over...";

            return "Create lesson of spanish about...";
        }
    }

    public string Hint
    {
        get
        {
            if (Language == Languages.en2es)
                return "continue with what the lesson should be about...";
            if (Language == Languages.cz2es)
                return "pokračujte tím o čem by měla lekce být...";
            if (Language == Languages.de2es)
                return "das Thema, das Sie gerne in der Spanisch-Lektion behandelt hätten...";
            if (Language == Languages.nl2es)
                return "ga verder met waar de les over moet gaan";

            return "continue with what the lesson should be about...";
        }
    }

    public string ButtonCaption
    {
        get
        {
            if (Language == Languages.en2es)
                return "Create Lesson with AI";
            if (Language == Languages.cz2es)
                return "Vytvoř lekci pomocí AI";
            if (Language == Languages.de2es)
                return "Erstelle eine Lektion mit Hilfe von AI.";
            if (Language == Languages.nl2es)
                return "Maak een les met AI";

            return "Create Lesson with AI";
        }
    }

    public string ButtonCaptionText
    {
        get
        {
            if (Language == Languages.en2es)
                return "Create Lesson with AI";
            if (Language == Languages.cz2es)
                return "Vytvoř lekci pomocí AI";
            if (Language == Languages.de2es)
                return "Erstelle eine Lektion mit Hilfe von AI.";
            if (Language == Languages.nl2es)
                return "Maak een les met AI";

            return "Create Lesson with AI";
        }
    }

    public string LessonTitle
    {
        get
        {
            if (Language == Languages.en2es)
                return "Spanish Lesson";
            if (Language == Languages.cz2es)
                return "Lekce Španělštiny";
            if (Language == Languages.de2es)
                return "Spanisch-Lektion";
            if (Language == Languages.nl2es)
                return "Spaanse les";

            return "Spanish Lesson";
        }
    }

    public enum PostLength
    {
        Tiny = 100,
        Short = 250,
        Medium = 500,
        Long = 750
    }

    [Inject] INotificationService? NotificationService { get; set; }
    [Inject] protected IJSRuntime? JS { get; set; } = null;

    [Parameter] public EventCallback<(string,string)> TextCreated { get; set; }

    [Parameter] public string BaseText { get; set; } = string.Empty;

    private Modal? CreateTextModal;

    public string TextByAI { get; set; } = string.Empty;
    (bool, string) Result = (false, string.Empty);
    PostLength postLength = PostLength.Medium;

    public string NFTTextMarkuptext => Markdig.Markdown.ToHtml(TextByAI, new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.JS is not null)
        {
            if (firstRender)
                await this.JS.InvokeVoidAsync("veblazor.MermaidInitialize");

            await this.JS.InvokeVoidAsync("veblazor.MermaidRender");
        }
    }

    async Task CreateTextAction()
    {
        await LoadingStatus(true);

        if (NotificationService != null)
        {
            if (Language == Languages.en2es)
                await NotificationService.Info("Creating text...", "AI's working");
            else if (Language == Languages.de2es)
                await NotificationService.Info("Erstelle Text...", "AI arbeitet");
            else if (Language == Languages.nl2es)
                await NotificationService.Info("Tekst maken...", "AI werkt");
            else
                await NotificationService.Info("Vytvářím text...", "AI pracuje");
        }

        var baset = "Vytvoř Česko-Španělskou lekci pro výuku španělštiny na téma " + BaseText.Replace("\"", "\\\"") + ". Prosím o vzorová slovíčka i věty v obou jazycích. Přidej i cvičení s doplňováním slov. Výstup bude Markdown."; ;

        if (Language == Languages.en2es)
            baset = "Create English to Spanish lesson for learning spanish language on topic " + BaseText.Replace("\"", "\\\"") + ". Please add example vocabularies and sentenses in both languages. Add excercise with missing words what students can fill up. Output will be Markdown.";
        else if (Language == Languages.de2es)
            baset = "Bitte erstellen Sie eine Deutsch-Spanisch-Lektion zum Thema " + BaseText.Replace("\"", "\\\"") + ". Bitte fügen Sie Vokabeln und Sätze in beiden Sprachen hinzu. Fügen Sie eine Übung mit fehlenden Wörtern hinzu, die die Schüler ergänzen können. Die Ausgabe erfolgt in Markdown.";
        else if (Language == Languages.nl2es)
            baset = "Maak een les Nederlands naar Spaans om de Spaanse taal over het onderwerp te leren " + BaseText.Replace("\"", "\\\"") + ". Voeg voorbeeldwoordenlijsten en zinnen in beide talen toe. Voeg oefening met ontbrekende woorden toe die leerlingen kunnen invullen. Uitvoer zal Markdown zijn.";
        
        using (var content = new StringContent("{ \"basetext\": \"" + baset + "\"}", System.Text.Encoding.UTF8, "application/json"))
        {
            HttpResponseMessage result = await Http.PostAsync("/api/AIGetText", content);
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                string returnValue = await result.Content.ReadAsStringAsync();
                if (returnValue != null)
                    TextByAI = returnValue;

                await TextCreated.InvokeAsync((BaseText, TextByAI));
            }
        }

        if (NotificationService != null)
        {
            if (Language == Languages.cz2es)
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("Text byl vytvořen.", "Úspěch");
                else
                    await NotificationService.Warning(Result.Item2, "Nemůžu vytvořit text.");
            }
            else if (Language == Languages.de2es)
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("Der Text wurde erstellt.", "Erfolg");
                else
                    await NotificationService.Warning(Result.Item2, "Der Text kann nicht erstellt werden.");
            }
            else if (Language == Languages.nl2es)
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("De tekst is aangemaakt.", "Succes");
                else
                    await NotificationService.Warning(Result.Item2, "Kan de tekst niet maken.");
            }
            else
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("The text has been created.", "Success");
                else
                    await NotificationService.Warning(Result.Item2, "Cannot create the text.");
            }

        }

        await LoadingStatus(false);
    }
}
