@using Newtonsoft.Json
@using Markdig
@inject HttpClient Http

<Row Flex="Flex.AlignItems.Center">
    <Column>
        @if (Language.Contains("en2"))
        {
            <Span>Please, fill the basic info of what the lesson should be about.</Span>
        }
        else
        {
            <Span>Vyplňte prosím základní info o čem chcete mít lekci španělštiny.</Span>
        }
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is3.FromTop">
    <Column>
        @if (Language.Contains("en2"))
        {
            <Span>Create lesson of spanish about...</Span>
        }
        else
        {
            <Span>Vytvoř lekci španělštiny o ...</Span>
        }
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center">
    <Column>
        @if (Language.Contains("en2"))
        {
            <TextEdit Placeholder="continue with what the lesson should be about..." @bind-Text="BaseText" />
        }
        else
        {
            <TextEdit Placeholder="pokračujte tím o čem by měla lekce být..." @bind-Text="BaseText" />
        }
    </Column>
</Row>
<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        @if (Language.Contains("en2"))
        {
            <Button Color="Color.Primary" Clicked="@CreateTextAction" Loading="@Creating" Block>Create Lesson with AI</Button>
        }
        else
        {
            <Button Color="Color.Primary" Clicked="@CreateTextAction" Loading="@Creating" Block>Vytvoř lekci pomocí AI</Button>
        }
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        @if (Language.Contains("en2"))
        {
        <Heading Size="HeadingSize.Is4">Spanish Lesson</Heading>
        }
        else
        {
        <Heading Size="HeadingSize.Is4">Lekce Španělštiny</Heading>
        }
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <Span>@((MarkupString)NFTTextMarkuptext)</Span>
    </Column>
</Row>

    @code {
    public enum PostLength
    {
        Tiny = 100,
        Short = 250,
        Medium = 500,
        Long = 750
    }

    [Inject] INotificationService? NotificationService { get; set; }
    [Inject] protected IJSRuntime? JS { get; set; } = null;

    [Parameter] public EventCallback<(string,string)> TextCreated { get; set; }

    [Parameter] public string BaseText { get; set; } = string.Empty;

    [Parameter] public string Language { get; set; } = "cs2es";

    private Modal? CreateTextModal;

    public string TextByAI { get; set; } = string.Empty;
    bool Creating = false;
    (bool, string) Result = (false, string.Empty);
    PostLength postLength = PostLength.Medium;

    public string NFTTextMarkuptext => Markdig.Markdown.ToHtml(TextByAI, new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.JS is not null)
        {
            if (firstRender)
            {
                await this.JS.InvokeVoidAsync("veblazor.MermaidInitialize");
            }

            await this.JS.InvokeVoidAsync("veblazor.MermaidRender");
        }
    }

    async Task CreateTextAction()
    {
        Creating = true;
        await InvokeAsync(StateHasChanged);

        if (NotificationService != null)
        {
            if (Language.Contains("en2"))
                await NotificationService.Info("Creating text...", "AI's working");
            else
                await NotificationService.Info("Vytvářím text...", "AI pracuje");
        }

        var baset = string.Empty;

        if (Language == "en2es")
            baset = "Create please lesson of spain language on topic " + BaseText.Replace("\"", "\\\"") + ". Output will be Markdown.";
        else if (Language == "cz2en")
            baset = "Vytvoř prosím lekci angličtiny na téma " + BaseText.Replace("\"", "\\\"") + ". Výstup bude Markdown.";
        else
            baset = "Vytvoř prosím lekci španělštiny na téma " + BaseText.Replace("\"", "\\\"") + ". Výstup bude Markdown.";

        using (var content = new StringContent("{ \"basetext\": \"" + baset + "\"}", System.Text.Encoding.UTF8, "application/json"))
        {
            HttpResponseMessage result = await Http.PostAsync("/api/AIGetText", content);
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                string returnValue = await result.Content.ReadAsStringAsync();
                if (returnValue != null)
                    TextByAI = returnValue;

                await TextCreated.InvokeAsync((BaseText, TextByAI));
            }
        }

        if (NotificationService != null)
        {
            if (!Language.Contains("en2"))
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("Text byl vytvořen.", "Úspěch");
                else
                    await NotificationService.Warning(Result.Item2, "Nemůžu vytvořit text.");
            }
            else
            {
                if (!string.IsNullOrEmpty(TextByAI))
                    await NotificationService.Success("The text has been created.", "Success");
                else
                    await NotificationService.Warning(Result.Item2, "Cannot create the text.");
            }

        }

        Creating = false;
        await InvokeAsync(StateHasChanged);
    }
}
