@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Dto
@using VEDriversLite.AI.OpenAI.Dto;
@using VEFramework.VEBlazor.Components.NFTs.Common;
@using VEBlazor.Demo.AI.LearnLanguageWithAI.Common
@using Blazorise;
@using Blazorise.Components;
@using Blazorise.Markdown;
@inherits NFTComponentBase

@if (NFT != null)
{
    <Card Margin="Margin.Is1.FromTop">
        <CardBody Width="Width.Is100">
            <CardTitle Size=" 3">@NFT.Name</CardTitle>
            <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is1.FromTop">
                <Column>
                    <small><b>@Author</b> @NFT.Author</small>
                </Column>
            </Row>
            <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
                <Column>
                    <CardText><b>@Description</b></CardText>
                </Column>
            </Row>

            <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is1.FromTop">
                <Column>
                    <Small>@NFT.Description</Small>
                </Column>
            </Row>

            <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
                <Column>
                    <CardText><b>@Tags</b></CardText>
                </Column>
            </Row>
            <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is1.FromTop">
                <Column>
                    <VEFramework.VEBlazor.Components.Tags.Tags NFTType="@NFTTypes.Post" TagsList="@NFT.TagsList" />
                </Column>
            </Row>

            <Divider />

            <Row Flex="  Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
                <Column>
                    @if (CutText && NFT.Text.Length > 160)
                    {
                        <NFTText Text="@(NFT.Text.Substring(0, 160) + "...")" IsOnCard="false" />
                    }
                    else
                    {
                        <NFTText Text="@NFT.Text" IsOnCard="false" />
                    }
                </Column>
            </Row>

            @if (DisplayButtons)
            {
                <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
                    <Column>
                        <Button Color="Color.Secondary"     
                Block
                        Type="ButtonType.Link" To="@("/search?txid=" + NFT.Utxo + "&index=0")" Target="Target.Blank">@FullLesson</Button>
                    </Column>
                </Row>
                @if (NFT.PriceActive)
                {
                    <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
                        <Column>
                            <Button Color="Color.Secondary" 
                Block
                            Type="ButtonType.Link" To="@("https://apptest.ve-nft.com/buynft?utxo=" + NFT.Utxo + "&index=0")" Target="Target.Blank">@BuyLesson</Button>
                        </Column>
                    </Row>
                }
            }
        </CardBody>
    </Card>
}

@code {
    [Parameter]
    public bool DisplayButtons { get; set; } = true;
    [Parameter]
    public bool CutText { get; set; } = true;

    public string Author
    {
        get
        {
            if (Language == Languages.en2es)
                return "Author";
            else if (Language == Languages.cz2es)
                return "Autor";
            else if (Language == Languages.de2es)
                return "Autor";
            else
                return "Autor";
        }
    }

    public string Description
    {
        get
        {
            if (Language == Languages.en2es)
                return "Description";
            else if (Language == Languages.cz2es)
                return "Popis";
            else if (Language == Languages.de2es)
                return "Beschreibung";
            else
                return "Popis";
        }
    }
    public string Tags
    {
        get
        {
            if (Language == Languages.en2es)
                return "Tags";
            else if (Language == Languages.cz2es)
                return "Tagy";
            else if (Language == Languages.de2es)
                return "Stichworte";
            else
                return "Tagy";
        }
    }

    public string FullLesson
    {
        get
        {
            if (Language == Languages.en2es)
                return "Full Lesson";
            else if (Language == Languages.cz2es)
                return "Celá Lekce";
            else if (Language == Languages.de2es)
                return "Vollständige Lektion";
            else
                return "Celá Lekce";
        }
    }

    public string BuyLesson
    {
        get
        {
            if (Language == Languages.en2es)
                return "Buy Lesson";
            else if (Language == Languages.cz2es)
                return "Koupit Lekci";
            else if (Language == Languages.de2es)
                return "Lektion kaufen";
            else
                return "Koupit Lekci";
        }
    }
}
