@using VEDriversLite.NFT

@if (profile != null)
{
    <Card Style="max-width:250px;">
        <CardImage Source="@profile.ImageLink" Alt="Avatar"></CardImage>
        <CardBody>
            <CardTitle Size="5">@((profile.Name == "" && profile.Surname == "") ? "No Name" : $"{profile.Name} {profile.Surname}")</CardTitle>
            <CardText>
                @(profile.Description == "" ? "No Bio" : profile.Description)
            </CardText>
            <Button Color="Color.Light" Clicked="@EditProfile"><Icon Name="IconName.Edit" />&nbsp;Edit</Button>
        </CardBody>
    </Card>
}

<Modal @ref="EditProfileModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Edit Profile</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <EditProfile NFT="@profile" 
                         Name="@profile.Name" 
                         Surname="@profile.Surname" 
                         Nickname="@profile.Nickname" 
                         Description="@profile.Description" 
                         NFTChanged="@NFTChangedHandler" />
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    private Modal EditProfileModal;

    [Parameter]
    public INFT Profile { get; set; } = new ProfileNFT("");
    public ProfileNFT profile 
    {
        get => (Profile.Type == NFTTypes.Profile) ? (Profile as ProfileNFT) : new ProfileNFT(""); 
    }

    async Task EditProfile()
    {
        await EditProfileModal.Show();
    }
    void NFTChangedHandler(INFT e)
    {
        Profile = e;
    }
}
