@using VEDriversLite.NFT

@if ( profile != null )
{
    <Card Style="max-width:250px;">
        <CardImage Source="@profile.ImageLink" Alt="Avatar"></CardImage>
        <CardBody>
            <CardTitle Size="5">@((profile.Name == "" && profile.Surname == "") ? "No Name" : $"{profile.Name} {profile.Surname}")</CardTitle>
            <CardText>
                @(profile.Description == "" ? "No Bio" : profile.Description)
            </CardText>
            <Button Color="Color.Light" Clicked="@OnEditProfile"><Icon Name="IconName.Edit" />&nbsp;Edit</Button>
        </CardBody>
    </Card>
}

<EditProfile @ref="@EditProfileRef"
             NFT="@profile"
             Name="@profile.Name"
             Surname="@profile.Surname"
             Nickname="@profile.Nickname"
             Description="@profile.Description"
             NFTChanged="@NFTChangedHandler" />

@code {
    private EditProfile EditProfileRef;

    [Parameter]
    public INFT Profile { get; set; } = new ProfileNFT( "" );
    public ProfileNFT profile
    {
        get => ( Profile.Type == NFTTypes.Profile ) ? ( Profile as ProfileNFT ) : new ProfileNFT( "" );
    }

    async Task OnEditProfile()
    {
        await EditProfileRef.Show();
    }

    void NFTChangedHandler( INFT e )
    {
        Profile = e;
    }
}
