@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Imaging.Xray
@inherits NFTComponentBase;

@if ( NFT != null && NFT.Type == NFTTypes.XrayImage )
{
    var nft = NFT as XrayImageNFT;

    <Card Margin="Margin.Is4.FromBottom" Style="min-width:150px; max-width:250px;">
        <CardImage Source="@GetImageUrl()" Alt="No image found" Style="max-height:200px;" @onclick="() => NFTImageDetailModal.Show()">
        </CardImage>
        <CardBody>
            <CardTitle Size="5" TextOverflow="TextOverflow.Truncate">
                @NFT.Name
            </CardTitle>
            <CardText>
                <Small>@NFT.Description</Small>
            </CardText>
            @*<CardText>
                <XrayParamsValues XrayParams="@nft.XrayParams" />
            </CardText>*@
            <CardText>
                @foreach ( var tag in NFT.TagsList )
                {
                    <Badge Color="Color.Light" Margin="Margin.Is1.FromEnd">#@tag</Badge>
                }
            </CardText>
        </CardBody>
        <CardFooter>
            <Button Color="Color.Primary" Clicked=@OpenNFTDetailsModal Block>
                <Icon Name="IconName.Info" />
            </Button>
        </CardFooter>
    </Card>
}

<Modal @ref="NFTImageDetailModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>NFT Image Detail</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <PanzoomImage Source="@GetImageUrl()" />
        </ModalBody>
    </ModalContent>
</Modal>

<XrayImagesDetails @ref=XrayImagesDetailsModalComponent
                   NFT="@NFT"
                   Address="@Address"
                   IsOwnNFT="@IsOwnNFT"
                   IsSubAccount="@IsSubAccount"
                   NFTSent="@NFTSentHandler"
                   OpenNFTsInWorkTab="async (e) => await OpenNFTsInWorkTab.InvokeAsync(e)" />

@code {
    private XrayImagesDetails? XrayImagesDetailsModalComponent;
    private Modal? NFTImageDetailModal;

    public void OpenNFTDetailsModal()
    {
        if ( NFT == null )
            return;
        XrayImagesDetailsModalComponent?.ShowNFTDetails();
    }

    async Task NFTSentHandler( NFTSentResultDto e )
    {
        XrayImagesDetailsModalComponent?.HideNFTDetails();
        if (NFTImageDetailModal != null)
            await NFTImageDetailModal.Hide();
        await NFTSent.InvokeAsync( e );
    }
}
