@using System.IO;
@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NeblioAPI
@using Tewr.Blazor.FileReader
@using System.Threading
@using System.Threading.Tasks
@using Ipfs.Http
@inject IFileReaderService fileReaderService
@inject AppData AppData
@inject HttpClient _client

<Spin spinning="@loadingProfile" tip="Loading Profile...">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <h3>Profile</h3>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <img src="@AppData.Account.Profile.ImageLink" style="min-height:50px; max-height:100px; width:auto;" />
                        </div>
                    </div>
                    <div class="row" style="margin-left:20px;">
                        <div class="col">
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <span>Name: @AppData.Account.Profile.Name @AppData.Account.Profile.Surname</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    Nick: @AppData.Account.Profile.Nickname
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    Bio: @AppData.Account.Profile.Description
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <a href="@AppData.Account.Profile.Link" target="_blank">Webpage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!ReadOnlyProfile)
            {
                @if (createNewProfile)
                {
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <button class="btn btn-secondary" @onclick="showNewProfileDialog" style="margin-top:20px;">Create New Profile</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <button class="btn btn-secondary" @onclick="showNewProfileDialog" style="margin-top:20px;">Edit Profile</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</Spin>


<Modal Title="Create new profile NFT"
       Visible="@createNewProfileVisible"
       OnOk="@createNewProfileConfirm"
       OnCancel="@createNewProfileCancel">
    <div class="row">
        <div class="col">

            <div class="row" style="margin-top:10px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Name:</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Add Your Name" @bind-Value=@newProfileNFT.Name Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Surname:</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Add Your Surname" @bind-Value=@newProfileNFT.Surname Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Nickname:</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Add Your Nickname" @bind-Value=@newProfileNFT.Nickname Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Bio:</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Add Your Bio" @bind-Value=@newProfileNFT.Description Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Link:</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Add Your Webpage link" @bind-Value=@newProfileNFT.Link Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col">
                    <Spin spinning="@uploadingImage" tip="Uploading to IPFS...">
                        <div class="row">
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                <p>Select and Upload Image:</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                <input type="file" @ref=inputTypeFileElement />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                <button @onclick=ReadFile>Upload Image</button>
                            </div>
                        </div>
                    </Spin>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Image Link" @bind-Value=@newProfileNFT.ImageLink Style="font-size:12px; min-width:250px; max-width:350px;" />
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Image Preview:</p>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    @switch (loadingImageStage)
                    {
                        case LoadingImageStages.NotStarted:
                            <p>No image loaded</p>
                            break;
                        case LoadingImageStages.Loading:
                            <Spin Tip="Uploading..." />
                            break;
                        case LoadingImageStages.Loaded:
                            <a href="@newProfileNFT.ImageLink" target="_blank"><img src="@newProfileNFT.ImageLink" style="max-width:350px; min-width:40px;" alt="Probably still waiting for ipfs confirmation. Wait a minute please..." /></a>
                            break;
                    }
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Status: @tokentxid</p>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <p>Origin TxId: @newProfileNFT.NFTOriginTxId</p>
                </div>
            </div>
        </div>
    </div>
</Modal>

@if (AppData.Account.IsLocked())
{
    <Alert Type="@AlertType.Error"
           Message="Error"
           Description="Account Is Locked. Please unlock account first."
           ShowIcon="true" />
}

@if (errorDuringSend)
{
    <Alert Type="@AlertType.Error"
           Message="Error"
           Description=@errorMessage
           ShowIcon="true" />
}

@if (errorUpload)
{
    <Alert Type="@AlertType.Error"
           Message="Error"
           Description="Cannot upload image."
           ShowIcon="true" />
}

@code {
    bool loadingProfile = true;
    bool uploadingImage = false;
    bool createNewProfileVisible = false;
    bool createNewProfile = false;

    bool processingMinting = false;
    bool errorUpload = false;
    bool errorDuringSend = false;
    string errorMessage = string.Empty;
    private static int attemptsToDisplay = 10;
    LoadingImageStages loadingImageStage = LoadingImageStages.NotStarted;
    private System.Threading.Timer timer;
    private ElementReference inputTypeFileElement;
    private static readonly IpfsClient ipfs = new IpfsClient("https://ipfs.infura.io:5001");

    [Parameter]
    public bool ReadOnlyProfile { get; set; } = true;

    ProfileNFT newProfileNFT = new ProfileNFT("");

    string tokentxid = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    private async Task LoadProfile()
    {
        try
        {
            if (AppData.Account.Profile == null)
                AppData.Account.Profile = new ProfileNFT("");

            if (string.IsNullOrEmpty(AppData.Account.Profile.Utxo))
            {
                if (AppData.Account.NFTs.Count > 0)
                {
                    var profile = await NFTHelpers.FindProfileNFT(AppData.Account);

                    if (profile != null)
                    {
                        loadingProfile = false;
                        await profile.GetLastData();
                        AppData.Account.Profile = profile;
                    }
                    else
                    {
                        AppData.Account.Profile = new ProfileNFT("");
                        createNewProfile = true;
                    }
                }
                else
                {
                    var nfts = await NFTHelpers.LoadAddressNFTs(AppData.Account.Address);
                    AppData.Account.NFTs = nfts;
                    if (AppData.Account.NFTs.Count > 0)
                    {
                        var profile = await NFTHelpers.FindProfileNFT(AppData.Account);

                        if (profile != null)
                        {
                            loadingProfile = false;
                            await profile.GetLastData();
                            AppData.Account.Profile = profile;
                        }
                        else
                        {
                            createNewProfile = true;
                        }
                    }
                    else
                    {
                        AppData.Account.Profile = new ProfileNFT("");
                        createNewProfile = true;
                    }
                }
            }
            else
            {
                loadingProfile = false;
                await AppData.Account.Profile.GetLastData();
                createNewProfile = false;
            }
        }
        catch(Exception ex)
        {
            // todo
        }

        loadingProfile = false;
        StateHasChanged();
    }

    private async Task showNewProfileDialog(MouseEventArgs e)
    {
        if (AppData.Account.Profile == null)
            AppData.Account.Profile = new ProfileNFT("");

        if (!string.IsNullOrEmpty(AppData.Account.Profile.Utxo))
        {
            newProfileNFT = AppData.Account.Profile;
            newProfileNFT.Nickname = AppData.Account.Profile.Nickname;
            loadingImageStage = LoadingImageStages.Loaded;
            await Task.Delay(100);
            StateHasChanged();
        }

        createNewProfileVisible = true;
    }

    private async Task createNewProfileConfirm(MouseEventArgs e)
    {
        createNewProfileVisible = false;
        await MintNewProfileNFT();
    }


    private async Task createNewProfileCancel(MouseEventArgs e)
    {
        createNewProfileVisible = false;
    }

    public async Task ReadFile()
    {
        try
        {
            errorUpload = false;
            uploadingImage = true;
            attemptsToDisplay = 10;
            StateHasChanged();
            foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
            {
                loadingImageStage = LoadingImageStages.Loading;
                // Read into buffer and act (uses less memory)
                await using (Stream stream = await file.OpenReadAsync())
                {
                    var fileinfo = await file.ReadFileInfoAsync();

                    var imageLink = await ipfs.FileSystem.AddAsync(stream, fileinfo.Name);
                    newProfileNFT.ImageLink = "https://gateway.ipfs.io/ipfs/" + imageLink.ToLink().Id.ToString();

                    timer = new System.Threading.Timer(async (object stateInfo) =>
                    {
                        try
                        {
                            using var httpResponse = await _client.GetAsync(AppData.Account.Profile.ImageLink);

                            if (httpResponse.IsSuccessStatusCode)
                            {
                                loadingImageStage = LoadingImageStages.Loaded;
                                uploadingImage = false;

                                StateHasChanged(); // MUST CALL StateHasChanged() BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
                                timer.Dispose();
                            }

                            attemptsToDisplay--;
                            if (attemptsToDisplay < 0)
                            {
                                loadingImageStage = LoadingImageStages.Loaded;
                                uploadingImage = false;
                                StateHasChanged();
                                timer.Dispose();
                            }
                        }
                        catch (Exception ex)
                        {
                            //todo
                        }
                    }, new System.Threading.AutoResetEvent(false), 4000, 4000);
                }
            }
        }
        catch (Exception ex)
        {
            loadingImageStage = LoadingImageStages.NotStarted;
            uploadingImage = false;
            errorUpload = true;
            StateHasChanged();
        }
    }

    private async Task MintNewProfileNFT()
    {
        if (ReadOnlyProfile)
        {
            processingMinting = false;
            return;
        }
        if (AppData.Account.IsLocked())
        {
            processingMinting = false;
            return;
        }

        if (AppData.Account.Profile == null)
            AppData.Account.Profile = new ProfileNFT("");

        loadingProfile = true;
        processingMinting = true;

        try
        {
            string rtxid = string.Empty;

            if (string.IsNullOrEmpty(AppData.Account.Profile.Utxo))
                rtxid = await NFTHelpers.MintProfileNFT(AppData.Account, newProfileNFT);
            else
                rtxid = await NFTHelpers.ChangeProfileNFT(AppData.Account, newProfileNFT);

            if (rtxid != string.Empty)
            {
                tokentxid = rtxid;

                await Task.Delay(1000);
                processingMinting = false;

                // new one
                if (string.IsNullOrEmpty(AppData.Account.Profile.Utxo))
                {
                    var nfts = await NFTHelpers.LoadAddressNFTs(AppData.Account.Address);
                    AppData.Account.NFTs = nfts;
                    var profile = await NFTHelpers.FindProfileNFT(AppData.Account);
                    await profile.GetLastData();
                    AppData.Account.Profile = profile;
                }
                else //change of existing
                {
                    await AppData.Account.Profile.GetLastData();
                }

                loadingProfile = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            loadingProfile = false;
            tokentxid = ex.Message;
            errorDuringSend = true;
            errorMessage = ex.Message;
            StateHasChanged();
        }
    }

}
