@using System.IO;
@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NeblioAPI
@using System.Threading
@using System.Threading.Tasks
@inject AppData AppData
@inject HttpClient _client

<Spin spinning="@loadingProfile" tip="Loading Profile...">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <h3>Profile</h3>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <img src="@profileNFT.ImageLink" style="min-height:50px; max-height:100px; width:auto;" />
                        </div>
                    </div>
                    <div class="row" style="margin-left:20px;">
                        <div class="col">
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <span>Name: @profileNFT.Name @profileNFT.Surname</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    Nick: @profileNFT.Nickname
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <span class="text-center" style="max-width:100px;">Bio: @profileNFT.Description</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                    <a href="@profileNFT.Link" target="_blank">Webpage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!ReadOnlyProfile)
            {
                @if (createNewProfile)
                {
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <button class="btn btn-secondary" @onclick="showNewProfileDialog" style="margin-top:20px;">Create New Profile</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                            <button class="btn btn-secondary" @onclick="showNewProfileDialog" style="margin-top:20px;">Edit Profile</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</Spin>

<Modal Title="Create new profile NFT"
       Visible="@createNewProfileVisible"
       OnOk="@createNewProfileConfirm"
       OnCancel="@createNewProfileCancel">
        <MintNFTForm NFTType="NFTTypes.Profile" NFT="@profileNFT" RedirectToNFTsAfterMint="false" NFTMinted="ProfileChanged" />
</Modal>

@code {
    bool loadingProfile = true;
    bool createNewProfileVisible = false;
    bool createNewProfile = false;

    bool processingMinting = false;

    [Parameter]
    public bool ReadOnlyProfile { get; set; } = true;

    private ProfileNFT newProfileNFT = new ProfileNFT("");

    private ProfileNFT profileNFT = new ProfileNFT("");
    [Parameter]
    public ProfileNFT NFT
    {
        get => profileNFT;
        set
        {
            if (value != null)
            {
                if (profileNFT.Utxo != value.Utxo)
                {
                    profileNFT = value;
                    if (string.IsNullOrEmpty(profileNFT.Utxo))
                    {
                        createNewProfile = true;
                        change = false;
                    }
                    else
                    {
                        createNewProfile = false;
                        change = true;
                    }
                    StateHasChanged();
                }
            }
        }
    }

    bool change = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (string.IsNullOrEmpty(profileNFT.Utxo))
            {
                createNewProfile = true;
                change = false;
            }
            else
            {
                createNewProfile = false;
                change = true;
            }
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        if (AppData.Account != null)
            AppData.Account.Refreshed += RefreshedHandler;
        await LoadProfile();
    }

    void RefreshedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    private async Task LoadProfile()
    {
        loadingProfile = false;
        StateHasChanged();
        if (string.IsNullOrEmpty(profileNFT.Utxo))
        {
            createNewProfile = true;
            change = false;
        }
        else
        {
            createNewProfile = false;
            change = true;
        }
        loadingProfile = false;
        StateHasChanged();
    }

    private async Task showNewProfileDialog(MouseEventArgs e)
    {
        if (!string.IsNullOrEmpty(profileNFT.Utxo))
        {
            try
            {
                var nft = await NFTFactory.GetNFT(NFTHelpers.TokenId, profileNFT.Utxo);
                newProfileNFT = nft as ProfileNFT;
                StateHasChanged();
            }
            catch(Exception ex)
            {
                loadingProfile = false;
                processingMinting = false;
                Console.WriteLine("Cannot load last profile. " + ex.Message);
            }
        }
        createNewProfileVisible = true;
    }

    private async Task createNewProfileConfirm(MouseEventArgs e)
    {
        createNewProfileVisible = false;
    }

    private async Task createNewProfileCancel(MouseEventArgs e)
    {
        createNewProfileVisible = false;
    }

    void ProfileChanged(string txid)
    {
        loadingProfile = false;
        createNewProfileVisible = false;
        StateHasChanged();
    }
}
