@using VEDriversLite
@using VEDriversLite.NFT
@inject AppData AppData
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col">
        <Spin spinning="@processingSending" tip="Sending...">
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top:10px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <small>Name of message</small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <Input Placeholder="Add Name of the message" MaxLength="50" @bind-Value=@name Style="font-size:12px; min-width:250px; max-width:350px;" />
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <small>Message</small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <TextArea Placeholder="Type your message" MaxLength="600" @bind-Value=@description Style="font-size:12px; min-width:250px; max-width:350px; min-height:100px;" />
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(description))
                    {
                        <div class="row" style="margin-top:2px;">
                            <div class="col d-flex justify-content-center align-items-center">
                                <small class="text-info">Remaining @(600-description.Length) from 600 characters.</small>
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top:10px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <small>Receiver</small>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <VENFTApp_Blazor.Components.NeblioAddressInput Receiver="@receiver" AddressCheckedInputed="receiverAddressChangedHandler" />
                        </div>
                    </div>

                    @if (!string.IsNullOrEmpty(description))
                    {
                        <div class="row" style="margin-top:20px;">
                            <div class="col d-flex justify-content-center align-items-center">
                                <input type="checkbox" checked="checked" @onchange="eventArgs => { encryptChanged(eventArgs.Value); }" /><span style="margin-left:10px;">Encrypt</span><br />
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top:20px;">
                        <div class="col d-flex justify-content-center align-items-center">
                            <small class="text-center">Sending costs 0.0002 NEBL (fee) and 1 VENFT (carrier, just in case of new message).</small>
                        </div>
                    </div>

                    @if (string.IsNullOrEmpty(receiver))
                    {
                        <div class="row" style="margin-top:20px;">
                            <div class="col d-flex justify-content-center align-items-center">
                                <button class="btn btn-primary disabled" @onclick="ShowMintConfirm">Wrong Receiver</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row" style="margin-top:20px;">
                            <div class="col d-flex justify-content-center align-items-center">
                                <button class="btn btn-primary" @onclick="ShowMintConfirm">Send Message</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </Spin>

        <Modal Title="Mint New NFT"
               Visible="@confirmVisible"
               OnOk="@HandleOk"
               OnCancel="@HandleCancel">
            <p>"Do you really want to send this message?"</p>
        </Modal>
        <Modal Title="Required"
               Visible="@emptyInfoVisible"
               OnOk="@HandleEmptyInfoCancel"
               OnCancel="@HandleEmptyInfoCancel">
            <p>"You must fill Name, Message and receiver."</p>
        </Modal>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<string> MessageSent { get; set; }

    private string receiver = string.Empty;
    private string name = string.Empty;
    private string description = string.Empty;
    [Parameter]
    public string Receiver
    {
        get => receiver;
        set
        {
            receiver = value;
            StateHasChanged();
        }
    }

    private bool encrypt = true;
    private INFT sourceNFT = new MessageNFT("");
    [Parameter]
    public INFT NFT
    {
        get => sourceNFT;
        set
        {
            if (value != null && !string.IsNullOrEmpty(value.Utxo) && value.Utxo != newNFT.Utxo)
            {
                newNFT.Fill(value);
                newNFT.Description = string.Empty;
                description = string.Empty;
                newNFT.Name = value.Name;
                name = value.Name;

                StateHasChanged();
            }
        }
    }

    INFT newNFT = new MessageNFT("");
    bool emptyInfoVisible = false;
    bool uploadingImage = false;
    bool confirmVisible = false;
    bool processingSending = false;

    private void receiverAddressChangedHandler(string address)
    {
        if (address.Length < 8)
        {
            Receiver = string.Empty;
            return;
        }
        Receiver = address;
        StateHasChanged();
    }

    void ImageLinkChanged(string newLink)
    {
        newNFT.ImageLink = newLink;
    }

    private async Task encryptChanged(object e)
    {
        encrypt = (bool)e;
        StateHasChanged();
    }

    void ShowMintConfirm()
    {
        confirmVisible = true;
    }

    private async Task HandleOk(MouseEventArgs e)
    {
        await SendMessageNFT();
    }

    private void HandleCancel(MouseEventArgs e)
    {
        confirmVisible = false;
    }

    private void HandleEmptyInfoCancel(MouseEventArgs e)
    {
        emptyInfoVisible = false;
    }

    private async Task SendMessageNFT()
    {
        try
        {
            newNFT.Name = name;
            newNFT.Description = description;

            if (string.IsNullOrEmpty(newNFT.Name) || string.IsNullOrEmpty(newNFT.Description) || string.IsNullOrEmpty(receiver))
            {
                emptyInfoVisible = true;
                return;
            }

            processingSending = true;
            confirmVisible = false;
            StateHasChanged();

            var res = await AppData.Account.SendMessageNFT(newNFT.Name, newNFT.Description, receiver, newNFT.Utxo, encrypt);

            if (res.Item1)
            {
                var r = AppData.Account.MessageTabs.Find(t => t.Address == receiver);
                if (r == null || string.IsNullOrEmpty(r.Address))
                {
                    await AppData.Account.AddMessageTab(receiver);
                }
                await MessageSent.InvokeAsync(res.Item2);
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alertMessage", "Some error during minting: " + res.Item2);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            processingSending = false;
            StateHasChanged();
        }
    }
}
