@using VEDriversLite
@inject AppData AppData 

<div class="card" style="margin:10px; max-width:160px;min-width:160px;width:160px;">
    <div class="card-header" style="padding: 0px;" @onclick="SelectTab">
        <div class="row" style="max-width: 150px;height:70px;margin: 0px;">
            <div class="col d-flex justify-content-center align-items-center" style="padding: 0px;">

                @if (!string.IsNullOrEmpty(ImageLink))
                {
                    <img class="card-img-top w-auto" src="@ImageLink" style="min-height:50px; max-height:70px; max-width:150px; min-width:50px;" />
                }
                else
                {
                    <VENFTApp_Blazor.Components.Spin Tip="Loading..." Spinning="@tryToLoad">
                        <img class="card-img-top w-auto" src="@ImageLink" style="min-height:50px; max-height:70px; max-width:150px; min-width:50px;" />
                    </VENFTApp_Blazor.Components.Spin>
                }
            </div>
        </div>
    </div>
    <div class="card-body d-flex justify-content-center align-items-end @bgcolor" style="width:150px;height:150px; padding:0px;">
        @if (!string.IsNullOrEmpty(BookmarkName))
        {
            <span class="badge badge-primary" style="position: absolute;right: 7px;top: 77px;"><i class="oi oi-star text-warning"></i></span>
        }
        @if (!string.IsNullOrEmpty(bgcolor))
        {
            <span class="badge badge-primary" style="position: absolute;right: 7px;top: 95px;">Selected</span>
        }
        <div class="row" style="padding: 0px;margin:0px;">
            <div class="col" style="padding: 0px; margin:0px;">
                @if (!string.IsNullOrEmpty(BookmarkName))
                {
                    <div class="row" style="margin-top:2px;">
                        <div class="col d-flex d-xl-flex justify-content-center align-items-center">
                            <h5 class="card-title" style="font-size:13px;"><a href="https://explorer.nebl.io/address/@Address" target="_blank" style="font-size:13px;">@BookmarkName</a></h5>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row" style="margin-top:2px;">
                        <div class="col d-flex d-xl-flex justify-content-center align-items-center">
                            <h5 class="card-title" style="font-size:13px;"><a href="https://explorer.nebl.io/address/@Address" target="_blank" style="font-size:13px;">@NeblioTransactionHelpers.ShortenAddress(Address)</a></h5>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Nick))
                {
                    <div class="row" style="margin-top:2px;">
                        <div class="col d-flex d-xl-flex justify-content-center align-items-center">
                            <small>@Nick</small>
                        </div>
                    </div>
                }
                else
                {
                    if (!string.IsNullOrEmpty(Bio))
                    {
                        <div class="row" style="margin-top:2px;">
                            <div class="col d-flex d-xl-flex justify-content-center align-items-center">
                                @if (Bio.Length > 20)
                                {
                                    <small>@Bio.Substring(0, 19)</small>
                                }
                                else
                                {
                                    <small>@Bio</small>
                                }
                            </div>
                        </div>
                    }
                }
                <div class="row" style="margin-top:10px;">
                    <div class="col d-flex d-xl-flex justify-content-center align-items-center">
                        <button class="btn btn-light" @onclick="CloseTab" style="font-size:12px;">Close Tab</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Address { get; set; } = string.Empty;
    [Parameter]
    public string ImageLink { get; set; } = string.Empty;
    [Parameter]
    public string Nick { get; set; } = string.Empty;
    [Parameter]
    public string Bio { get; set; } = string.Empty;
    [Parameter]
    public string BookmarkName { get; set; } = string.Empty;

    string bgcolor = "bg-light";
    [Parameter]
    public bool Selected
    {
        set
        {
            if (value)
                bgcolor = "bg-light";
            else
                bgcolor = "";
        }
    }
    [Parameter]
    public EventCallback<string> TabSelected { get; set; }
    [Parameter]
    public EventCallback<string> TabClosed { get; set; }

    private bool tryToLoad = true;

    private System.Threading.Timer timer;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var bkm = AppData.Account.IsInTheBookmarks(Address);
            if (bkm.Item1)
                BookmarkName = bkm.Item2.Name;

            timer = new System.Threading.Timer(async (object stateInfo) =>
            {
                if (string.IsNullOrEmpty(ImageLink))
                    tryToLoad = false;
                StateHasChanged();
                timer.Dispose();
            }, new System.Threading.AutoResetEvent(false), 10000, 10000);
        }

        base.OnAfterRender(firstRender);
    }

    private async Task SelectTab(MouseEventArgs e)
    {
        TabSelected.InvokeAsync(Address);
    }
    private async Task CloseTab(MouseEventArgs e)
    {
        TabClosed.InvokeAsync(Address);
    }
}
