@{
    var children = Item.GetChilds();
    if (!children.Any())
    {
        <Heading Size="HeadingSize.Is5">
            @Item.Name
        </Heading>
    }
    else
    {
        <Collapse Visible="@isExpanded">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    @Item.Name
                    <Button Clicked="@(() => isExpanded = !isExpanded)">&gt;</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                <Accordion>
                    @foreach (var subItem in children)
                    {

                        <EntitiesTreeNGItem Item="@subItem"></EntitiesTreeNGItem>
                    }
                </Accordion>
            </CollapseBody>
        </Collapse>
    }
}

@code {
    
    [Parameter]
    public TreeItem Item { get; set; }

    private bool isExpanded;
}