@using VEFramework.Demo.PublishingDisplay.Models
@using VEFramework.Demo.PublishingDisplay.Services.NFTs
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Coruzant
@inject NavigationManager NavigationManager
@inject AppData AppData

<Div>
    <Row Flex="Flex.AlignItems.Center">
        <Column Flex="Flex.JustifyContent.Center">
            <Heading Size="HeadingSize.Is3" Style="text-decoration: underline;">Articles</Heading>
        </Column>
    </Row>
    <Row Margin="Margin.Is3.FromTop">
        <Column>
                <CardGroup>
                @foreach (var post in AppData.ArticleNFTs.Take(PerPage))
                {
                    var p = post as CoruzantArticleNFT;
                    var tag = post.TagsList.FirstOrDefault();                        
                    <Card Style="min-width:300px;max-width:350px;" Margin="Margin.Is3.FromEnd">
                        <CardImage Source="@post.ImageLink" Alt="@post.Name" ></CardImage>
                        <CardBody>
                            <NameOnCard NFT="@post" />
                            
                            <DescriptionOnCard Text="@post.Description" />

                            <Row Margin="Margin.Is4.FromTop">
                                <Column Flex="Flex.JustifyContent.Center">
                                    <Button Class="readmoreprofilebutton" Clicked="@(() => OpenPost(post.Utxo))">
                                        <Span Style="font-size:14px;" Display="Display.None.OnMobile.None.OnTablet.Inline.OnDesktop">Read more</Span>
                                        <Span Style="font-size:8px;" Display="Display.Inline.OnMobile.Inline.OnTablet.None.OnDesktop">Read more</Span>
                                        </Button>
                                </Column>
                            </Row>                            
                        </CardBody>
                    </Card>
                }               
            </CardGroup>
        </Column>
    </Row>
    <Row Margin="Margin.Is4.FromTop">
        <Column Flex="Flex.JustifyContent.Center">
            <Button Class="viewalltrendingbutton" Clicked="@LoadMore" Loading="@loadingMore">Load More</Button>
        </Column>
    </Row>
</Div>

@code {
    [Parameter]
    public int PerPage { get; set; } = 10;

    string selectedSlide = "";
    bool loadingMore = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AppData.NFTsLoaded += (s, e) =>
        {
            loadingMore = false;
            StateHasChanged();
        };
        if (!AppData.LoadedBase)
            await AppData.LoadNFTs();
    }

    public void OpenPost(string postutxo)
    {
        NavigationManager.NavigateTo($"post?utxo={postutxo}");
    }

    public async Task LoadMore()
    {
        PerPage += 10;
        loadingMore = true;
        await AppData.LoadMoreNFTs();
    }
}
