@using VEFramework.Demo.PublishingDisplay.Models
@using VEFramework.Demo.PublishingDisplay.Services.NFTs
@using VEFramework.Demo.PublishingDisplay.Services.NFTs.Coruzant
@inject AppData AppData
@inject NavigationManager NavigationManager

<Row>
    <Column>
        <Row Flex="Flex.AlignItems.Center">
            <Column Flex="Flex.JustifyContent.Center">
                <Heading Size="HeadingSize.Is3" Style="text-decoration: underline;">Featured Profiles</Heading>
            </Column>
        </Row>
        <Row Margin="Margin.Is3.FromTop">
            <Column>
                
                    <CardGroup>
                    @foreach (var profile in Profiles)
                    {
                        var p = profile as CoruzantProfileNFT;
                        @if (p != null)
                        {
                            var tag = profile.TagsList.FirstOrDefault();
                            <Card Style="min-width:300px;max-width:350px;" Margin="Margin.Is3.FromEnd">
                                <CardImage Source="@profile.ImageLink" Alt="@profile.Name" ></CardImage>
                                <CardBody>
                                    <NameOnCard NFT="@profile" />

                                    <DescriptionOnCard Text="@profile.Description" />

                                    <Row Margin="Margin.Is4.FromTop">
                                        <Column Flex="Flex.JustifyContent.Center">
                                            <Button Class="readmoreprofilebutton" Clicked="@(() => ReadMoreProfile(profile))">
                                                <Span Style="font-size:14px;" Display="Display.None.OnMobile.None.OnTablet.Inline.OnDesktop">Read more</Span>
                                                <Span Style="font-size:8px;" Display="Display.Inline.OnMobile.Inline.OnTablet.None.OnDesktop">Read more</Span>
                                                </Button>
                                        </Column>
                                    </Row>                            
                                </CardBody>
                            </Card>
                        }
                    }               
                </CardGroup>
            </Column>
        </Row>
        @if (OnMainPage)
        {        
            <Row Margin="Margin.Is4.FromTop">
                <Column Flex="Flex.JustifyContent.Center">
                    <Button Class="viewalltrendingbutton" Type="ButtonType.Link" To="profiles">View All</Button>
                </Column>
            </Row>
        }        
        else
        {
            <Row Margin="Margin.Is4.FromTop">
                <Column Flex="Flex.JustifyContent.Center">
                    <Button Class="viewalltrendingbutton" Clicked="@LoadMore" Loading="@loadingMore">Load More</Button>
                </Column>
            </Row>
        }
    </Column>
</Row>

<Modal @ref="ProfileDetailsModal">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>@ProfileInDetails.Name</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <ProfileDetail @ref="@ProfileDetailRef" NFT="@ProfileInDetails" />
            </ModalBody>
    </ModalContent>
</Modal>

@code {
    Modal? ProfileDetailsModal;
    ProfileDetail? ProfileDetailRef;

    [Parameter]
    public int PerPage {get;set;} = 10;

    [Parameter]
    public bool OnMainPage { get; set; } = false;

    public IEnumerable<INFT> Profiles 
    { 
        get
        {
            if (!OnMainPage)
                return AppData.ProfilesNFTs.Take(PerPage);
            else
                return AppData.ProfilesNFTs.Skip(1).Take(PerPage);
        }
    }

    INFT ProfileInDetails = new CoruzantProfileNFT("");

    string selectedSlide = "";
    bool loadingMore = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        AppData.NFTsLoaded += (s, e) =>
        {
            loadingMore = false;
            StateHasChanged();
        };
    }

    private string GetName(CoruzantProfileNFT pnft)
    {
        var name = pnft.Name + " " + pnft.Surname;
        return name.Length > 50 ? name.Substring(0, 50) + "..." : name;
    }

    async Task ReadMoreProfile(INFT profile)
    {
        ProfileInDetails = profile;
        if (OnMainPage)
        {
        if (ProfileDetailsModal != null)
            await ProfileDetailsModal.Show();
        if (ProfileDetailRef != null)
            await ProfileDetailRef.Load(ProfileInDetails);
        }
        else
        {
            NavigationManager.NavigateTo($"profile?utxo={profile.Utxo}");
        }
    }

    public async Task LoadMore()
    {
        PerPage += 10;
        loadingMore = true;
        await AppData.LoadMoreNFTs();
    }
    
}
