@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Dto
@using VEDriversLite.StorageDriver
@using Newtonsoft.Json
@using VEDriversLite.AI.OpenAI.Dto
@inject AppDataService AppDataService
@inject HttpClient Http
@inject NavigationManager Navigator
@inherits NFTComponentBase

@page "/de2es"

<PageTitle>Sprache mit AI lernen</PageTitle>
<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <Span>Lerne kostenlos Spanisch mit AI.</Span>
    </Column>
</Row>
<Row Flex="Flex.JustifyContent.Center">
    <Column>
        <Heading Size="HeadingSize.Is3">ChatGPT erstellt die Spanisch-Lektion für dich.</Heading>
    </Column>
</Row>
<Row Flex="Flex.AlignItems.Center">
    <Column>
        <Span>Wir würden uns über eine Bewertung der Lektion mit einem kurzen Kommentar freuen. Diese Kommentare werden die Qualität zukünftiger Ergebnisse verbessern.</Span>
    </Column>
</Row>
<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is3.FromTop">
    <Column>
        <Heading Size="HeadingSize.Is4">Bitte gib die grundlegenden Informationen für die Lektion ein.</Heading>
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <GetText @ref="getTextRef" TextCreated="@onTextCreatedHandler" Language="@Languages.de2es" />
    </Column>
</Row>
<Divider />
<Row Flex="Flex.AlignItems.Center">
    <Column>
        <Field>
            <FieldLabel>Optional: Kommentar zur Lektion</FieldLabel>
            <MemoEdit Rows="3" Placeholder="Hier können Sie einen kurzen Kommentar hinzufügen" MaxLength="160" @bind-Text="UserComment" />
            <FieldHelp>Bitte füllen Sie Ihren Kommentar zur Lektion aus.</FieldHelp>
        </Field>
    </Column>
</Row>
<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is1.FromTop">
    <Column>
        <Field>
            <FieldLabel>Optional: Autor:</FieldLabel>
            <TextEdit @bind-Text="NFT.Author" Placeholder="Name oder Spitzname" />
            <FieldHelp>Füllen Sie Ihren Namen oder Spitznamen aus.</FieldHelp>
        </Field>
    </Column>
</Row>
<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop.Is2.FromBottom">
    <Column>
        @if (!string.IsNullOrEmpty(NFT.Text) && string.IsNullOrEmpty(NFTTxId))
        {
            <Button Color=" Color.Primary" Clicked="@MintNFT" Loading="@MintingNFT" Block>Lektion für andere Schüler speichern</Button>
        }
        else
        {
            <Button Color="Color.Primary" Clicked="@MintNFT" Loading="@MintingNFT" Disabled Block>Lektion für andere Schüler speichern</Button>
            <Span>Bitte erstellen Sie die Lektion, bevor Sie die Lektion speichern möchten.</Span>
        }
    </Column>
</Row>

@if (Minted)
{
    <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
        <Column>
            <Button Color="Color.Secondary"   
        Block
            Type="ButtonType.Link" To="@("/search?txid=" + LastMintedTx + "&index=0")" Target="Target.Blank">Lektion anzeigen</Button>
        </Column>
    </Row>
    <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop.Is5.FromBottom">
        <Column>
            <VEFramework.VEBlazor.Components.Display.CopyButton TextToCopy="@(Navigator.BaseUri.Trim('/') + "/search?txid=" + LastMintedTx + "&index=0")" ButtonText="Link zur Lektion kopieren" />
        </Column>
    </Row>
}

@code{

    GetText getTextRef;

    string Receiver = string.Empty;
    string NFTTxId = string.Empty;
    string UserComment = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var res = await AppDataService.GetAuthor();
            if (!string.IsNullOrEmpty(res))
                NFT.Author = res;
            else
                NFT.Author = "Anonymer Schüler";
            await InvokeAsync(StateHasChanged);
        }
    }

    private void onTextCreatedHandler((string,string) e)
    {
        if (!string.IsNullOrEmpty(e.Item2))
        {
            NFT.Text = e.Item2;
            NFTTxId = string.Empty;
            Minted = false;
            StateHasChanged();
        }
    }

    private async Task onAddressInputedHandler(string e)
    {
        if (e != null)
            Receiver = e;
    }

    private async Task MintNFT()
    {
        await MintingStatus(true);

        if (!string.IsNullOrEmpty(UserComment))
            NFT.Text += " \n\n\n\n #### Studentenkommentar:\n\n" + UserComment;

        if (!string.IsNullOrEmpty(NFT.Author))
            await AppDataService.SaveAuthor(NFT.Author);

        var obj = new
        {
            receiver = Receiver,
            text = NFT.Text.Replace("\n", "%0A"),
            author = NFT.Author,
            language = Languages.de2es
        };

        var cnt = JsonConvert.SerializeObject(obj);

        using (var content = new StringContent(cnt, System.Text.Encoding.UTF8, "application/json"))
        {
            HttpResponseMessage result = await Http.PostAsync("/api/MintPostNFT", content);
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                var returnStr = await result.Content.ReadAsStringAsync();

                if (returnStr != null)
                {
                    NFTTxId = returnStr;
                    LastMintedTx = NFTTxId;
                    Minted = true;
                    await NotifySuccess("Lektion gespeichert.", "Gespeichert");
                }
            }
        }

        await MintingStatus(false);
    }

}