@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Dto
@using VEDriversLite.StorageDriver
@using Newtonsoft.Json
@using VEDriversLite.AI.OpenAI.Dto
@inject HttpClient Http
@inject NavigationManager Navigator
@inherits NFTComponentBase

@page "/search"

<PageTitle>Hledat</PageTitle>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is1.FromTop">
    <Column>
        <Field>
            <FieldLabel>Vyplňte prosím Id tranansakce NFT s uloženou lekcí:</FieldLabel>
            <TextEdit Text="@NFTTxId" TextChanged="@((e) => { if (e != null && e != NFTTxId) { NFTTxId = e; } })" />
        </Field>
    </Column>
</Row>

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        @if (!string.IsNullOrEmpty(NFTTxId))
        {
            <Button Color=" Color.Primary" Clicked="@(async () => await LoadNFT(NFTTxId))" Loading="@Loading" Block>Načíst Lekci</Button>
        }
        else
        {
            <Button Color="Color.Primary" Clicked="@(async () => await LoadNFT(NFTTxId))" Loading="@Loading" Disabled Block>Načíst Lekci</Button>
            <Span>Vyplňte prosím prvně ID transakce NFT s uloženou lekcí. Teprve poté je možné načíst NFT.</Span>
        }
    </Column>
</Row>

<LessonListCard NFT="@NFT" Language="Languages.cz2es" DisplayButtons="false" CutText="false" />

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is3.FromTop">
    <Column>
        <b>NFT Id Transakce:</b> <Link To="@("https://explorer.nebl.io/tx/" + @NFTTxId)" Target="Target.Blank">@NFTTxId</Link>
    </Column>
</Row>

@if (NFT.PriceActive)
{
    <Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
        <Column>
            <Button Color="Color.Secondary" Block Type="ButtonType.Link" To="@("https://apptest.ve-nft.com/buynft?utxo=" + NFT.Utxo + "&index=0")" Target="Target.Blank">@BuyLesson</Button>
        </Column>
    </Row>
}

<Row Flex="Flex.AlignItems.Center" Margin="Margin.Is2.FromTop">
    <Column>
        <VEFramework.VEBlazor.Components.Display.CopyButton TextToCopy="@(Navigator.BaseUri + "/search?txid=" + @NFTTxId + "&index=0")" ButtonText="@CopyLessonLink" />
    </Column>
</Row>

@code{

    [Parameter]
    [SupplyParameterFromQuery(Name = "txid")]
    public string NFTTxId {get;set;} = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstLoad)
    {
        if (firstLoad)
        {
            if (!string.IsNullOrEmpty(NFTTxId))
                await LoadNFT(NFTTxId);
        }
    }

    public string BuyLesson
    {
        get
        {
            if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.en2es)))
                return "Buy Lesson";
            else if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.cz2es)))
                return "Koupit Lekci";
            else if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.de2es)))
                return "Lektion kaufen";
            else
                return "Koupit Lekci";
        }
    }

    public string CopyLessonLink
    {
        get
        {
            if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.en2es)))
                return "Copy link to share NFT";
            else if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.cz2es)))
                return "Zkopíruj odkaz na sdílení NFT";
            else if (NFT.Tags.Contains(Enum.GetName(typeof(Languages), Languages.de2es)))
                return "Link kopieren, um NFT zu teilen";
            else
                return "Zkopíruj odkaz na sdílení NFT";
        }
    }
}