@using VEDriversLite.NFT.Coruzant

@inject AppData AppData
@page "/opinion"


<NavMenu></NavMenu>
<div class="page-opinion container content-area">

    <div class="row blogs">
          @foreach (var profile in AppData.ArticleNFTs.Take(9))
           {
                <div class="col-xs-6 col-sm-6 col-md-4">
                  <div class="blog" >
                    <div class="img" style="background:url(@profile.ImageLink);background-size:cover">
                        <div class="overlay"></div>
                     </div> 
                     <div class="desc" @onclick="()=>ModalShow(profile)">
                        <span class="clamped"><i class="fa fa-bookmark" aria-hidden="true"></i>@profile.Tags </span>
                        <p class="title clamped">
                        @profile.Name
                        </p>
                         <a href="author-url"><b>By: </b>@profile.Author</a>
                    </div>
                  
               </div>
            </div>
        }  

    </div>



</div>

@if (profile != null)
{
   <div class="article-modal modal-active" @onclick="@ModalCancel" id="myModal" style="display:block" aria-modal="true" role="dialog">
     <div class="row content-modal row-eq-height" @onclick:stopPropagation="true" @onclick:preventDefault="true">
        <div class="row col-xs-4 col-sm-4  article-meta ">
                <div class="img-wrap">
                <img src="@profile.ImageLink" />
                <span class="main-tag">@profile.Tags.Split(' ')[0] </span>
                <span class="img-author">
                    <i class="fa fa-user-circle" aria-hidden="true"></i> 
                    @profile.Author
                </span>
                </div>
                <div class="spans">
                    <h3>@profile.Name</h3>
                    <hr>
                    <h4 class="article-title"> @profile.Description</h4><br />
                    <span class="comp-link">
                    <a href="#" target= "_blank">More about @((MarkupString)@profile.Author)</a>
                    </span>
                    <br />
                </div>
          </div>
            <div class="col-xs-8 col-sm-8 text">                                          
                <div class="long-desc">
                    @((MarkupString)profile.Text)
                </div>
                   <span class="comp-link"> <b>Tags: </b>
                    @if (@profile.Tags !="")
                    {
                        string[] subs = @profile.Tags.Split();

                        foreach (string sub in subs)
                        {
                            if (sub != "")
                            {
                                string r = "<a href='#'> "+sub+" </a>, ";
                                @((MarkupString)r);
                            }
                        }
                    }
                </span>
            </div>

        </div>
  </div>
}

@code {
    VEDriversLite.NFT.INFT profile { get; set; }
    public void ModalShow( VEDriversLite.NFT.INFT prof){   
        profile = prof;
    }
    void ModalCancel() => profile = null;
    protected override Task OnInitializedAsync()
    {
        AppData.NFTsLoaded += NFTsLoadedHandler;
        return base.OnInitializedAsync();
    }
    public void NFTsLoadedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}

