@using VEDriversLite
@using VEDriversLite.NFT

<Container Fluid>
    <Div>
        <Row>
            <Column Flex="Flex.JustifyContent.Center">
                <Heading Size="HeadingSize.Is4">WorkTab - @WorkTabName</Heading>
            </Column>
        </Row>
        <Row>
            <Column>
                  <CardGroup>
                    @foreach (var NFT in NFTs) 
                    {
                            <XrayImageNFTEditor NFT="@NFT"
                                            Address="@Address" 
                                            IsSubAccount="@IsSubAccount"
                                            IsOwnNFT="@IsOwnNFT" 
                                            OpenNFTsInWorkTab="async (e) => await OpenNFTsInWorkTab.InvokeAsync(e)"/>
                    }
                </CardGroup>              
            </Column>
        </Row>
    </Div>
</Container>

@code {
    [Parameter]
    public string Address { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> AddressChanged { get; set; }
    [Parameter]
    public bool IsSubAccount { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsSubAccountChanged { get; set; }
    [Parameter]
    public bool IsOwnNFT { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsOwnNFTChanged { get; set; }
    [Parameter]
    public List<INFT> NFTs { get; set; } = new List<INFT>();
    [Parameter]
    public EventCallback<List<INFT>> OpenNFTsInWorkTab { get; set; }    
    [Parameter]
    public string WorkTabName { get; set; } = "WorkTab";
}
