@using VEDriversLite
@using VEDriversLite.NFT
@using VEDriversLite.NFT.Imaging.Xray

<Container Border="Border.Is2.Primary" Fluid>
    @if (NFT != null)
    {
        <Div>
            <Row Margin="Margin.Is2.FromTop">
                <Column Flex="Flex.JustifyContent.Center">
                    <Text TextOverflow="TextOverflow.Wrap">@NFT.Name</Text>
                </Column>
                <Column Flex="Flex.JustifyContent.Center">
                    @foreach ( var tag in NFT.TagsList )
                    {
                        <Badge Color="Color.Light" Margin="Margin.Is1.FromEnd">#@tag</Badge>
                    }
                </Column>
            </Row>
            <Row Margin="Margin.Is2.FromTop" Border="Border.Is1.Primary">
                <Column ColumnSize="ColumnSize.Is2">
                    <XrayImageEditorToolbar OnToolAction="@OnToolActionHandler"/>
                </Column>
                <Column ColumnSize="ColumnSize.Is10">
                    <PanzoomImage Source="@NFT.ImageLink" />
                </Column>            
            </Row>
        </Div>
    }
</Container>

<DestroyNFT @ref=DestroyNFTModalComponent
            NFT="@NFT"
            Address="@Address"
            IsSubAccount="@IsSubAccount"
            NFTSent="NFTDestroyedHandler" />
                                        
<SendNFT @ref=SendNFTModalComponent
         NFT="@NFT"
         Address="@Address"
         IsSubAccount="@IsSubAccount"
         NFTSent="NFTSendHandler" />
<SaveNFT @ref=SaveNFTModalComponent
         NFT="@NFT"
         Address="@Address"
         IsSubAccount="@IsSubAccount"
         NFTSent="NFTSendHandler" />
                           
<Modal @ref="EditPropertiesModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Edit Properties</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <DataInfoForm @bind-Name="@NFT.Name"
                          @bind-Description="@NFT.Description"
                          @bind-Text="@NFT.Text"
                          @bind-Tags="@NFT.Tags" />
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="EditXrayParamsModal">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Edit Xray Parameters Properties</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <XrayExposureParamsForm @bind-Voltage="@((NFT as XrayImageNFT).XrayParams.Voltage)"
                                    @bind-Current="@((NFT as XrayImageNFT).XrayParams.Current)"
                                    @bind-Time="@((NFT as XrayImageNFT).XrayParams.ExposureTime)" />
        </ModalBody>
    </ModalContent>
</Modal>

<ShareNFT @ref="ShareNFTComponent" />
                                     
@code {
    [Inject]
    public IMessageService MessageService { get; set; }

    [Parameter]
    public string Address { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> AddressChanged { get; set; }
    [Parameter]
    public bool IsSubAccount { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsSubAccountChanged { get; set; }
    [Parameter]
    public bool IsOwnNFT { get; set; } = false;
    [Parameter]
    public EventCallback<bool> IsOwnNFTChanged { get; set; }

    private INFT _NFT = new XrayImageNFT("");
    [Parameter]
    public INFT NFT 
    {
        get => _NFT; 
        set
        {
            if (value != null)
            {
                _NFT = value;
                if (OriginalNFT.Utxo != _NFT.Utxo)
                    StoreOriginal();
            }
        }
    }

    public INFT OriginalNFT { get; set; } = new XrayImageNFT( "" );
    [Parameter]
    public EventCallback<INFT> NFTChanged { get; set; }
    [Parameter]
    public EventCallback<List<INFT>> OpenNFTsInWorkTab { get; set; }        

    [Parameter]
    public bool DisplayRigthToolbar { get; set; } = false;
    [Parameter]
    public EventCallback<NFTSentResultDto> NFTSent { get; set; }

    private Modal EditPropertiesModal;
    private Modal EditXrayParamsModal;
    private ShareNFT ShareNFTComponent;
    private DestroyNFT DestroyNFTModalComponent;
    private SendNFT SendNFTModalComponent;
    private SaveNFT SaveNFTModalComponent;

    async Task StoreOriginal()
    {
        OriginalNFT = await NFTFactory.CloneNFT(_NFT);
    }

    async Task OnToolActionHandler( MintingToolbarActionDto e )
    {
        if ( e == null )
            return;
        switch ( e.Type )
        {
            case MintingToolbarActionType.Share:
                await ShareNFT( e.Args );
                break;            
            case MintingToolbarActionType.Save:
                await SaveNFT( e.Args );
                break;
            case MintingToolbarActionType.Send:
                await SendNFT( e.Args );
                break;
            case MintingToolbarActionType.SendCopy:
                await SendCopyNFT( e.Args );
                break;    
            case MintingToolbarActionType.ClearAll:
                await ResetToDefaultNFT( e.Args );
                break;
            case MintingToolbarActionType.Delete:
                await DeleteNFT( e.Args );
                break;
            case MintingToolbarActionType.EditProps:
                await OpenEditPropertiesModal( e.Args );
                break;
            case MintingToolbarActionType.EditXrayParams:
                await OpenEditXrayParamsModal( e.Args );
                break;
        }
    }

    private async Task ShareNFT(string[] e)
    {
        if ( NFT == null )
            return;
        ShareNFTComponent.ShowShareNFTModal(NFT.Utxo, NFT.UtxoIndex);
    }
    private async Task SaveNFT(string[] e)
    {
        if ( NFT == null )
            return;
        SaveNFTModalComponent.ShowSaveNFTModal(Address);
    }
    private async Task SendNFT(string[] e)
    {
        if ( NFT == null )
            return;
        SendNFTModalComponent.ShowSendNFTModal();
    }
    private async Task SendCopyNFT(string[] e)
    {
        if ( NFT == null )
            return;
        SendNFTModalComponent.ShowSendNFTModal(sendCopy:true);
    }
    private async Task ResetToDefaultNFT(string[] e)
    {
        if (OriginalNFT == null)
            return;
        if (await MessageService.Confirm("Are you sure you want reset the NFT to default?", "Finish") == true)
        {
            NFT = await NFTFactory.CloneNFT(OriginalNFT);
            StateHasChanged();
        }  
    }    

    private async Task DeleteNFT(string[] e)
    {        
        if ( NFT == null )
            return;
        DestroyNFTModalComponent.ShowDestroyNFTModal();
    }
    public async Task NFTSendHandler( NFTSentResultDto e )
    {
        SaveNFTModalComponent.HideSaveNFTModal();
        SendNFTModalComponent.HideSendNFTModal();
        await NFTSent.InvokeAsync( e );
    }
    public async Task NFTDestroyedHandler( NFTSentResultDto e )
    {
        DestroyNFTModalComponent.HideDestroyNFTModal();
        await NFTSent.InvokeAsync( e );
    }
    public async Task OpenEditPropertiesModal(string[] e)
    {
        if ( NFT == null )
            return;        
        await EditPropertiesModal.Show();
    }
    public async Task OpenEditXrayParamsModal(string[] e)
    {
        if ( NFT == null )
            return;
        await EditXrayParamsModal.Show();
    }
}
