@using VEDriversLite.NFT
@using Markdig

<div class="row">
    <div class="col">
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">
                <h6>@NFT.Name</h6>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <small>@NFT.Author</small>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(NFT.Description))
        {
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Description</span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>@((MarkupString)NFTDescriptionMarkuptext)</span>
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty((NFT as ProductNFT).Datasheet))
        {
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Datasheet</span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <a href="@((NFT as ProductNFT).Datasheet)" target="_blank">Click to explore the Datasheet</a>
                </div>
            </div>
        }

        @if (!string.IsNullOrEmpty(NFT.Link))
        {
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <a href="@NFT.Link" target="_blank">Connected Link</a>
                </div>
            </div>
        }
        <hr />
        <div class="row" style="margin-top:20px;">
            <div class="col d-flex justify-content-center align-items-center">
                <a href="@NFT.ImageLink" target="_blank">
                    @if (!string.IsNullOrEmpty(NFT.ImageLink))
                    {
                        <img src="@NFT.ImageLink" style="min-height:50px; max-height:150px; width:auto; max-width:250px; min-width:50px;" />
                    }
                    else if (string.IsNullOrEmpty(NFT.ImageLink) && !NFT.IsLoaded)
                    {
                        <VENFTApp_Blazor.Components.Spin Tip="Loading...">
                            <NoImageLoaded />
                        </VENFTApp_Blazor.Components.Spin>
                    }
                    else
                    {
                        <NoImageLoaded />
                    }
                </a>
            </div>
        </div>
    </div>
</div>

@code {

    private INFT NFT { get; set; } = new ProductNFT("");
    [Parameter]
    public INFT InputNFT
    {
        get => NFT;
        set
        {
            if (value != null && value.Utxo != NFT.Utxo && value.Type == NFTTypes.Product)
            {
                NFT = value;
                StateHasChanged();
            }
        }
    }

    [Parameter]
    public bool OwnNFT { get; set; } = false;

    [Parameter]
    public bool SubAccount { get; set; } = false;

    [Parameter]
    public string Address { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> NFTSent { get; set; }

    public string NFTmarkuptext => Markdown.ToHtml(NFT.Text);
    public string NFTDescriptionMarkuptext => Markdown.ToHtml(NFT.Description);

}
