@using VEDriversLite
@using VEDriversLite.Dto
@using VEDriversLite.NeblioAPI
@using VEDriversLite.Bookmarks
@using VEDriversLite.NFT
@using Newtonsoft.Json
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient _client
@inject AppData AppData
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@page "/browser"

<VENFTApp_Blazor.Components.Spin Tip="Loading Browser..." Spinning="@loadingBrowser">
    <div class="container-fluid overflow-auto">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <h3>NFT Browser</h3>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <VENFTApp_Blazor.Components.HelperButtons.HelpButton PageSection="peoplenfts" />
            </div>
        </div>
        
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">
                <VENFTApp_Blazor.Components.Account.AccountBalances Address="@AppData.Account.Address" SubAccount="false" />
            </div>
        </div>

        <!--
        <div class="row" style="margin-top:10px;">
            <div class="col d-flex justify-content-center align-items-center">
                <button onclick="browseTabs" class="btn btn-secondary" type="button">Browse Tabs</button>
                <VENFTApp_Blazor.Components.OpenedTabList Open="openTabBrowser"
                                                          BrowseTabsClosed="browseTabsClosed"
                                                          TabSelected="TabSelectedHandler"
                                                          NewTabOpened="TabAddedHandler"
                                                          TabClosed="TabClosedHandler" />
            </div>
        </div>
        -->
        <div class="row d-flex justify-content-center align-items-center" style="margin-top:15px;">
            <div class="col">
                <div>
                    <ul class="nav nav-tabs" role="tablist" id="shopTabsHeadings">
                        @foreach (var tab in AppData.Account.Tabs)
                        {
                            <li class="nav-item @GetTabColor(tab.Address)" role="presentation" style="margin-left:2px; margin-right:2px; margin-top:4px;">
                                <a class="nav-link" role="tab" data-toggle="tab" @onclick="async () => selectTab(tab.Address)">
                                    @if (!string.IsNullOrEmpty(tab.BookmarkFromAccount.Name))
                                    {
                                        if (tab.BookmarkFromAccount.Name.Length < 10)
                                        {
                                            @tab.BookmarkFromAccount.Name
                                        }
                                        else
                                        {
                                            @tab.BookmarkFromAccount.Name.Substring(0, 9)
                                        }
                                    }
                                    else
                                    {
                                        @tab.ShortAddress
                                    }
                                    <button class="btn btn-light" @onclick="async () => removeTab(tab.Address)" type="button" style="padding-top: 0px;padding-right: 5px;padding-bottom: 2px;padding-left: 4px;font-size: 12px;margin-left: 15px;margin-bottom: 5px;margin-right: -6px;">
                                            <i class="oi oi-x" style="font-size:7px;"></i>
                                    </button>
                                </a>
                            </li>
                        }
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" role="tab" data-toggle="tab" @onclick="async () => addNewTabModal()">
                                @if (AppData.Account.Tabs.Count == 0)
                                {
                                    <i class="oi oi-plus" style="font-size: 20px;"></i>
                                    <span class="badge badge-info" style="margin-left:10px; font-size:16px;"><i class="oi oi-arrow-thick-left"></i> Open First Tab Here</span>
                                }
                                else
                                {
                                    <i class="oi oi-plus" style="font-size: 20px;"></i>
                                }
                                
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="shopTabsContent">
                                <div role="tabpanel" class="tab-pane active" style="min-height: 200px;">
                                    <VENFTApp_Blazor.Components.Spin Spinning="@tabIsLoading" Tip="Tab Content is Loading...">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col d-flex justify-content-center align-items-center">
                                                    @if (!string.IsNullOrEmpty(tabBookmark.Name))
                                                    {
                                                        <span>@tabBookmark.Name - @NeblioTransactionHelpers.ShortenAddress(addressInOpenTab)</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@addressInOpenTab</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col d-flex justify-content-center align-items-center">
                                                    <VENFTApp_Blazor.Components.HelperButtons.CopyIcon MarginLeft="15" TextToCopy="@addressInOpenTab" />
                                                    <VENFTApp_Blazor.Components.HelperButtons.QRIcon MarginLeft="10" TextToCopy="@addressInOpenTab" />
                                                    <VENFTApp_Blazor.Components.HelperButtons.Bookmark IsInBookmarks="@IsTabInBookmark"
                                                                                         Address="@addressInOpenTab"
                                                                                         BookmarkRefreshed="@BookmarkRefreshedHandler" />
                                                    <i class="oi oi-envelope-closed" style="margin-left:10px; margin-top:0px; font-size:14px;" @onclick="showSendMessage"></i>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col d-flex justify-content-center align-items-center">
                                                    <h3>Profile</h3>
                                                </div>
                                            </div>-->
                                            <div class="row bg-light" style="margin-top:5px;">
                                                <div class="col d-flex justify-content-center align-items-center">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center">
                                                            <img src="@tabProfile.ImageLink" style="min-height:50px; max-height:100px; width:auto;" />
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-left:20px;">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-center align-items-center">
                                                                    <span>Name: @tabProfile.Name @tabProfile.Surname</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-center align-items-center">
                                                                    Nick: @tabProfile.Nickname
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col d-flex justify-content-center align-items-center">
                                                                    Bio: @tabProfile.Description
                                                                </div>
                                                            </div>
                                                            @if (!string.IsNullOrEmpty(tabProfile.Link))
                                                            {
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-center align-items-center">
                                                                        <a href="@tabProfile.Link" target="_blank">Webpage</a>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="margin-top:20px">
                                                <div class="col">
                                                        <VENFTApp_Blazor.Components.NFTs.NFTList Address="@addressInOpenTab" SubAccount="false" MainAccount="false" InBrowser="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </VENFTApp_Blazor.Components.Spin>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <VENFTApp_Blazor.Components.InfoEventModal />
    </div>
</VENFTApp_Blazor.Components.Spin>

<!--Open New Tab Modal-->
<Modal Title="Open Tab"
       Visible="@openTabVisible"
       OnOk="@addNewTab"
       OnCancel="@addNewTabCancel">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Select from Bookmarks</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <Dropdown Trigger="@(new TriggerType[] { TriggerType.Click })">
                        <Overlay>
                            <Menu>
                                @foreach (var b in AppData.Account.Bookmarks)
                                {
                                    <MenuItem>
                                        <span @onclick="() => selectNewTabAddressFromBookmark(b.Address, b.Name)">@b.Name</span>
                                    </MenuItem>
                                }
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <a class="ant-dropdown-link" @onclick:preventDefault>
                                @selectedNewTabFromBookmarkName <Icon Type="down" />
                            </a>
                        </ChildContent>
                    </Dropdown>
                </div>
            </div>
            
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <button @onclick="openPublicAddresses" class="btn btn-secondary" type="button">Or Browse Public Addresses</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <span>Or Input Neblio Address</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex justify-content-center align-items-center">
                    <VENFTApp_Blazor.Components.Account.NeblioAddressInput Receiver="@newTabAddress" AddressCheckedInputed="receiverAddressChangedHandler"/>
                    <!--<VENFTApp_Blazor.Components.LoadQRData MarginLeft="10" ReadedTextChanged="QRTextReaded" />-->
                </div>
            </div>
        </div>
    </div>
</Modal>

<!--Browse Public Addresses Modal-->
<Modal Title="Browse Public Addresses"
       Visible="@browsePublicAddresses"
       OnOk="@closePublicAddresses"
       OnCancel="@closePublicAddresses">
    <div class="row" style="margin-top:10px;">
        <div class="col d-flex justify-content-center align-items-center">

            @if (AppData.VENFTOwners.Count == 0)
            {
                <p><VENFTApp_Blazor.Components.Spin Tip="Loading..."></VENFTApp_Blazor.Components.Spin></p>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Number Of NFTs</th>
                            <th>Open In Tab</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var owner in AppData.VENFTOwners)
                        {
                            <tr style="margin-top:14px;">
                                <td>
                                    <a target="_blank" rel="noopener noreferrer" @onclick="async () => addNewPublicTabModal(owner.Address)">
                                        @PublicNameInBookmarks(owner.Address, owner.ShortenAddress)
                                    </a>
                                </td>
                                <td>
                                    <span style="margin-left:12px;">@owner.AmountOfNFTs NFTs</span>
                                </td>
                                <td>
                                    <a style="margin-left:20px;" target="_blank" rel="noopener noreferrer" @onclick="async () => addNewPublicTabModal(owner.Address)">
                                        <i class="oi oi-browser" style="font-size:25px;"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</Modal>


<Modal Title="Send Message"
       Visible="@sendMessageVisible"
       OnOk="@sendMessageConfirm"
       OnCancel="@sendMessageCancel">
    <VENFTApp_Blazor.Components.NFTs.Messages.SendMessage Receiver="@addressInOpenTab" MessageSent="@MessageSentHandler" />
</Modal>

@code {

    public bool IsTabInBookmark
    {
        get
        {
            return !string.IsNullOrEmpty(tabBookmark.Name);
        }
    }

    private bool sendMessageVisible = false;
    private bool openTabBrowser = false;
    private bool loadingBrowser = false;
    private bool browsePublicAddresses = false;
    private bool copyTextButtonCoppied = false;
    private bool tabIsLoading = false;
    private bool openTabVisible = false;

    private int holdersPage = 0;

    private string selectedNewTabFromBookmarkName = "Select From Bookmark";
    private string addressInOpenTab = string.Empty;
    private string newTabAddress = string.Empty;

    ProfileNFT tabProfile = new ProfileNFT("");
    VEDriversLite.Bookmarks.Bookmark tabBookmark = new VEDriversLite.Bookmarks.Bookmark();

    protected override Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(AppData.Account.Address))
                Redirect();
            else
            {
                LoadBookmarksAndState();
                if (AppData.Account != null)
                {
                    AppData.Account.Refreshed -= RefreshedHandler;
                    AppData.Account.Refreshed += RefreshedHandler;
                    AppData.Account.NFTsChanged -= NFTsRefreshedHandler;
                    AppData.Account.NFTsChanged += NFTsRefreshedHandler;
                    AppData.Account.SubAccountNFTsChanged -= NFTsRefreshedHandler;
                    AppData.Account.SubAccountNFTsChanged += NFTsRefreshedHandler;
                    AppData.Account.TabNFTsChanged -= NFTsRefreshedHandler;
                    AppData.Account.TabNFTsChanged += NFTsRefreshedHandler;
                }
            }
        }
        catch (Exception ex)
        {
            Redirect();
        }

        return base.OnInitializedAsync();
    }

    private void RefreshedHandler(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    private void NFTsRefreshedHandler(object sender, string e)
    {
        if (addressInOpenTab != e)
        {
            var tab = AppData.Account.Tabs.Find(t => t.Address == addressInOpenTab);
            if (tab != null)
            {
                tabBookmark = tab.BookmarkFromAccount;
                tabProfile = tab.Profile;
            }

            StateHasChanged();
        }
    }

    private void receiverAddressChangedHandler(string address)
    {
        if (address.Length < 8)
        {
            newTabAddress = string.Empty;
            return;
        }
        newTabAddress = address;
        StateHasChanged();
    }

    private void TabClosedHandler(string addr)
    {
        StateHasChanged();
    }
    private void TabSelectedHandler(string addr)
    {
        StateHasChanged();
    }
    private void TabAddedHandler(string addr)
    {
        StateHasChanged();
    }

    private void MessageSentHandler(string e)
    {
        sendMessageVisible = false;
        StateHasChanged();
    }

    private void BookmarkRefreshedHandler(VEDriversLite.Bookmarks.Bookmark bookmark)
    {
        AppData.Account.Tabs.FirstOrDefault(t => t.Address == addressInOpenTab).BookmarkFromAccount = bookmark;
        StateHasChanged();
    }


    private async Task Redirect()
    {
        AppData.Account = new NeblioAccount();
        await Task.Delay(500);
        NavManager.NavigateTo("/");
    }

    public string GetTabColor(string address)
    {
        if (addressInOpenTab == address)
            return "border bg-white";
        else
            return "bg-secondary";
    }

    private string PublicNameInBookmarks(string address, string shortaddress)
    {
        var res = AppData.Account.IsInTheBookmarks(address);
        if (res.Item1)
            if (!string.IsNullOrEmpty(res.Item2.Name))
                return res.Item2.Name;
        return shortaddress;
    }


    private async Task browseTabs(MouseEventArgs e)
    {
        openTabBrowser = true;
        StateHasChanged();
    }

    private void browseTabsClosed(bool e)
    {
        openTabBrowser = e;
        StateHasChanged();
    }

    private async Task QRTextReaded(string text)
    {
        newTabAddress = text;
    }

    private async Task openPublicAddresses(MouseEventArgs e)
    {
        browsePublicAddresses = true;
    }

    private async Task closePublicAddresses(MouseEventArgs e)
    {
        browsePublicAddresses = false;
    }

    private async Task LoadBookmarksAndState()
    {
        try
        {
            loadingBrowser = true;
            StateHasChanged();
            await Task.Delay(50);
            try
            {
                if (AppData.Account.Bookmarks.Count == 0)
                {
                    var bookmarks = await localStorage.GetItemAsync<string>("bookmarks");
                    if (bookmarks == "{}" || bookmarks == "[]")
                        bookmarks = string.Empty;

                    if (!string.IsNullOrEmpty(bookmarks))
                        await AppData.Account.LoadBookmarks(bookmarks);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Cannot load bookmarks!" + ex.Message);
            }
            try
            {
                var browserTabs = await localStorage.GetItemAsync<string>("browserTabs");
                if (!string.IsNullOrEmpty(browserTabs))
                {
                    if (AppData.Account.Tabs.Count == 0)
                    {
                        var tb = await AppData.Account.LoadTabs(browserTabs);
                        if (!string.IsNullOrEmpty(tb))
                            await selectTab(tb);
                    }
                    else
                    {
                        var tb = AppData.Account.Tabs.FirstOrDefault(t => t.Selected).Address;
                        await selectTab(tb);
                    }
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Cannot load tabs history!" + ex.Message);
            }

            //if (AppData.VENFTOwners.Count == 0)
            await LoadVENFTOwners();
        }
        catch (Exception ex)
        {
            //todo
            Console.WriteLine("Error during loading browser. " + ex.Message);
            loadingBrowser = false;
        }
        finally
        {
            loadingBrowser = false;
            StateHasChanged();
        }
    }

    private async Task LoadVENFTOwners()
    {
        var req = new HttpRequestMessage(HttpMethod.Get, $"https://nftticketverifierapp.azurewebsites.net/api/GetVENFTOwners");
        req.Headers.Add("Accept", "application/json");
        req.Headers.Add("User-Agent", "VENFT-App");

        var resp = await _client.SendAsync(req);
        var respmsg = await resp.Content.ReadAsStringAsync();
        if (string.IsNullOrEmpty(respmsg))
            return;
        var tokowns = JsonConvert.DeserializeObject<Dictionary<string, TokenOwnerDto>>(respmsg);
        if (tokowns != null)
        {
            AppData.VENFTOwners.Clear();
            foreach (var o in tokowns.Values)
                AppData.VENFTOwners.Add(o);
        }
    }

    private async Task addNewPublicTabModal(string address)
    {
        browsePublicAddresses = false;
        newTabAddress = address;
        openTabVisible = true;
    }

    private async Task addNewTabModal()
    {
        selectedNewTabFromBookmarkName = "Select From Bookmark";
        newTabAddress = string.Empty;
        StateHasChanged();
        openTabVisible = true;
    }

    private async Task addNewTab()
    {
        openTabVisible = false;
        var tab = AppData.Account.Tabs.Find(t => t.Address == newTabAddress);
        if (tab != null)
        {
            await selectTab(tab.Address);
            return;
        }
        loadingBrowser = true;
        StateHasChanged();
        var res = await AppData.Account.AddTab(newTabAddress);
        //tab = AppData.Account.Tabs.Find(t => t.Address == newTabAddress);
        if (res.Item1)
        {
            await localStorage.SetItemAsync("browserTabs", res.Item2);
            await selectTab(newTabAddress);
        }
        await Task.Delay(50);
        loadingBrowser = false;
        StateHasChanged();
    }

    private async Task addNewTabCancel()
    {
        openTabVisible = false;
    }

    private async Task selectTab(string address)
    {
        loadingBrowser = true;
        if (AppData.Account.Tabs.Count > 0)
            tabIsLoading = true;
        StateHasChanged();

        var oldtab = AppData.Account.Tabs.Find(t => t.Address == addressInOpenTab);
        if (oldtab != null)
        {
            oldtab.NFTsChanged -= TabNFTsChanged;
        }

        addressInOpenTab = address;
        await AppData.Account.SelectTab(address);
        var tab = AppData.Account.Tabs.Find(t => t.Address == addressInOpenTab);
        if (tab != null)
        {
            tabBookmark = tab.BookmarkFromAccount;
            tabProfile = tab.Profile;
            tab.NFTsChanged -= TabNFTsChanged;
            tab.NFTsChanged += TabNFTsChanged;
        }
        loadingBrowser = false;
        await Task.Delay(50);
        StateHasChanged();
    }

    private void TabNFTsChanged(object sender, string e)
    {
        if (tabIsLoading) tabIsLoading = false;
        if (loadingBrowser) loadingBrowser = false;
        StateHasChanged();
    }

    private async Task removeTab(string address)
    {
        var oldtab = AppData.Account.Tabs.Find(t => t.Address == address);
        if (oldtab != null)
        {
            oldtab.NFTsChanged -= TabNFTsChanged;
        }

        var tbs = await AppData.Account.RemoveTab(address);
        if (tbs.Item1)
            await localStorage.SetItemAsync("browserTabs", tbs.Item2);
    }

    private async Task selectNewTabAddressFromBookmark(string address, string name)
    {
        selectedNewTabFromBookmarkName = name;
        newTabAddress = address;
        StateHasChanged();
    }


    private async Task showSendMessage()
    {
        sendMessageVisible = true;
        StateHasChanged();
    }

    private async Task sendMessageConfirm(MouseEventArgs e)
    {
        sendMessageVisible = false;
        StateHasChanged();
    }

    private async Task sendMessageCancel(MouseEventArgs e)
    {
        sendMessageVisible = false;
    }
}
