@using VEDriversLite
@using VEDriversLite.NeblioAPI
@using VEDriversLite.Bookmarks
@using VEDriversLite.NFT
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient _client
@inject AppData AppData
@page "/browser"

<div class="container-fluid">
    <div class="row" style="margin-top:10px;">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
            <h1>NFT Browser</h1>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
            <h6>Browse All VENFT Holders</h6>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
            <button @onclick="openPublicAddresses" class="btn btn-secondary" type="button">Browse Public Addresses</button>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center" style="margin-top:50px;">
        <div class="col">
            <div>
                <ul class="nav nav-tabs" role="tablist" id="shopTabsHeadings">
                    @foreach (var tab in Tabs)
                    {
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" role="tab" data-toggle="tab" @onclick="async () => selectTab(tab)">
                                @tab.ShortAddress
                                <button class="btn btn-secondary" @onclick="async () => removeTab(tab)" type="button" style="padding-top: 0px;padding-right: 5px;padding-bottom: 0px;padding-left: 4px;font-size: 12px;margin-left: 15px;margin-bottom: 5px;margin-right: -6px;">
                                    <i class="oi oi-circle-x"></i>
                                </button>
                            </a>
                        </li>
                    }
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" @onclick="async () => addNewTabModal()"><i class="oi oi-plus" style="font-size: 20px;"></i></a></li>
                </ul>
                <div class="tab-content" id="shopTabsContent">

                    @foreach (var tab in Tabs)
                    {
                        var selected = "";
                        if (tab.Selected)
                        {
                            <div role="tabpanel" class="tab-pane active" style="min-height: 200px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                <h6>@tab.Address</h6>
                                                <!--
                                                    <a style="font-size: 20px; margin-left:15px; margin-bottom: 10px">
                                                        <i class="oi oi-star"></i>
                                                    </a>-->
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                <h3>Profile</h3>
                                            </div>
                                        </div>
                                        <div class="row bg-light">
                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                <div class="row">
                                                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                        <img src="@tab.Profile.ImageLink" style="min-height:50px; max-height:100px; width:auto;" />
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left:20px;">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                                <span>Name: @tab.Profile.Name @tab.Profile.Surname</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                                Nick: @tab.Profile.Nickname
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                                Bio: @tab.Profile.Description
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                                <a href="@tab.Profile.Link" target="_blank">Webpage</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top:20px">
                                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                <div>
                                                    <div class="row">
                                                        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                                                            @if (tab.NFTs.Count == 0)
                                                            {
                                                                <p><em><Spin Tip="Loading...No NFTs found yet"></Spin></em></p>
                                                            }
                                                            else
                                                            {
                                                                <table class="table" style="margin-top:50px;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <th>Author</th>
                                                                            <th>Type</th>
                                                                            <th>Image</th>
                                                                            <th>Info</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var nft in tab.NFTs)
                                                                        {
                                                                            if (nft.TypeText != "NFT Profile" && nft.TypeText != "NFT Settings")
                                                                            {
                                                                                <tr>
                                                                                    <td>@nft.Name</td>
                                                                                    <td>@nft.Author</td>
                                                                                    @switch (nft.Type)
                                                                                    {
                                                                                        case NFTTypes.Image:
                                                                                            <td>Original</td>
                                                                                            break;
                                                                                        case NFTTypes.Post:
                                                                                            <td>Post</td>
                                                                                            break;
                                                                                    }
                                                                                    <td><img src="@nft.ImageLink" style="min-height:50px; max-height:100px; width:auto;" /></td>
                                                                                    <td><button class="btn btn-primary" @onclick="async () => ShowNFTDetails(nft)"><i class="oi oi-info"></i></button></td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<Modal Title="Open Tab"
       Visible="@openTabVisible"
       OnOk="@addNewTab"
       OnCancel="@addNewTabCancel">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <span>Please Input Neblio Address</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <Input Placeholder="Input Neblio address" @bind-Value="@newTabAddress" Style="font-size:12px; min-width:150px; max-width:250px;" />
                </div>
            </div>
        </div>
    </div>
</Modal>

<Modal Title="@nftInDetails.Name"
       Visible="@nftDetailsVisible"
       OnOk="@CloseNFTDetails"
       OnCancel="@CloseNFTDetails">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <span>Name: @nftInDetails.Name</span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <span>Author: @nftInDetails.Author</span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <span>Description: @nftInDetails.Description</span>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(nftInDetails.Link))
            {
                <div class="row">
                    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                        <a href="@nftInDetails.Link" target="_blank">Connected Link</a>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <a href="https://explorer.nebl.io/tx/@nftInDetails.NFTOriginTxId" target="_blank">Mint Tx In Explorer</a>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">
                    <a href="@nftInDetails.ImageLink" target="_blank"><img src="@nftInDetails.ImageLink" style="min-height:50px; max-height:100px; width:auto;" /></a>
                </div>
            </div>
        </div>
    </div>
</Modal>

<Modal Title="Browse Public Addresses"
       Visible="@browsePublicAddresses"
       OnOk="@closePublicAddresses"
       OnCancel="@closePublicAddresses">
    <div class="row" style="margin-top:10px;">
        <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center">

            @if (VENFTOwners.Count == 0)
            {
                <p><Spin Tip="Loading..."></Spin></p>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Number Of NFTs</th>
                            <th>Balance of VENFT</th>
                            <th>Open In Tab</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var owner in VENFTOwners)
                        {
                            <tr style="margin-top:10px;">
                                <td>
                                    <a target="_blank" rel="noopener noreferrer" @onclick="async () => addNewPublicTabModal(owner.Address)">
                                        @owner.ShortenAddress
                                    </a>
                                </td>
                                <td>
                                    <span style="margin-left:10px;">@owner.AmountOfNFTs NFTs</span>
                                </td>
                                <td>
                                    <span style="margin-left:10px;">@owner.AmountOfTokens VENFT</span>
                                </td>
                                <td>
                                    <a style="margin-left:20px;" target="_blank" rel="noopener noreferrer" @onclick="async () => addNewPublicTabModal(owner.Address)">
                                        <i class="oi oi-browser" style="font-size:16px;"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</Modal>

@code {
    bool browsePublicAddresses = false;

    List<TokenOwnerDto> VENFTOwners = new List<TokenOwnerDto>();

    bool nftDetailsVisible = false;
    private INFT nftInDetails = new ImageNFT("");
    int holdersPage = 0;

    private bool openTabVisible = false;
    private string newTabAddress = string.Empty;
    private List<ActiveTab> Tabs = new List<ActiveTab>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBookmarksAndState();
    }

    private async Task closePublicAddresses(MouseEventArgs e)
    {
        browsePublicAddresses = false;
    }

    private async Task openPublicAddresses(MouseEventArgs e)
    {
        browsePublicAddresses = true;
    }

    private async Task CloseNFTDetails(MouseEventArgs e)
    {
        nftDetailsVisible = false;
    }

    private async Task ShowNFTDetails(INFT nft)
    {
        nftDetailsVisible = true;
        nftInDetails = nft;
    }

    private async Task LoadBookmarksAndState()
    {
        try
        {
            var bookmarks = await localStorage.GetItemAsync<string>("bookmarks");
            if (!string.IsNullOrEmpty(bookmarks))
            {
                await AppData.Account.LoadBookmarks(bookmarks);
            }

            var browserTabs = await localStorage.GetItemAsync<string>("browserTabs");

            if (!string.IsNullOrEmpty(browserTabs))
                Tabs = await NFTHelpers.GetTabs(browserTabs);

            var setFirst = true;
            if (Tabs.Count > 0)
            {
                foreach(var t in Tabs)
                {
                    t.Profile = new ProfileNFT("");

                    t.Selected = setFirst;
                    if (setFirst)
                    {
                        setFirst = false;
                        try
                        {
                            t.NFTs = await NFTHelpers.LoadAddressNFTs(t.Address);
                        }
                        catch (Exception ex)
                        {
                            // todo
                        }
                        StateHasChanged();
                        try
                        {
                            t.Profile = await NFTHelpers.FindProfileNFT(t.NFTs);
                            if (!string.IsNullOrEmpty(t.Profile.Utxo))
                                await t.Profile.GetLastData();
                        }
                        catch(Exception ex)
                        {
                            // todo
                        }
                        StateHasChanged();
                    }
                }
            }

            VENFTOwners = await NeblioTransactionHelpers.GetTokenOwners("La58e9EeXUMx41uyfqk6kgVWAQq9yBs44nuQW8");

        }
        catch (Exception ex)
        {
            //todo
        }
    }

    private async Task AddBookmark(string name, string address, string note)
    {
        if (!string.IsNullOrEmpty(name) && !string.IsNullOrEmpty(address))
        {
            if (string.IsNullOrEmpty(note))
                note = string.Empty;

            var bks = await AppData.Account.AddBookmark(name, address, note);
            if (bks.Item1)
                await localStorage.SetItemAsync("bookmarks", bks.Item2);
        }
    }

    private async Task RemoveBookmark(string address)
    {
        if (!string.IsNullOrEmpty(address))
        {
            var bks = await AppData.Account.RemoveBookmark(address);
            await localStorage.SetItemAsync("bookmarks", bks);
        }
    }

    private async Task addNewTabModal()
    {
        openTabVisible = true;
    }

    private async Task addNewPublicTabModal(string address)
    {
        browsePublicAddresses = false;
        newTabAddress = address;
        openTabVisible = true;
    }

    private async Task addNewTab()
    {
        if (Tabs.Count > 0)
            foreach (var t in Tabs)
                t.Selected = false;

        var tab = new ActiveTab(newTabAddress);
        tab.Selected = true;
        openTabVisible = false;
        Tabs.Add(tab);
        StateHasChanged();

        try
        {
            tab.NFTs = await NFTHelpers.LoadAddressNFTs(newTabAddress);
            StateHasChanged();
        }
        catch(Exception ex)
        {
            //
        }

        try
        {
            tab.Profile = await NFTHelpers.FindProfileNFT(tab.NFTs);
            if (!string.IsNullOrEmpty(tab.Profile.Utxo))
                await tab.Profile.GetLastData();
        }
        catch (Exception ex)
        {
            //todo
        }

        var bst = await NFTHelpers.SerializeTabs(Tabs);
        await localStorage.SetItemAsync("browserTabs", bst);
    }

    private async Task addNewTabCancel()
    {
        openTabVisible = false;
    }

    private async Task selectTab(ActiveTab tab)
    {
        foreach (var t in Tabs)
            t.Selected = false;

        Tabs.FirstOrDefault(t => t.Address == tab.Address).Selected = true;

        if (tab.NFTs.Count == 0)
        {
            try
            {
                tab.NFTs = await NFTHelpers.LoadAddressNFTs(tab.Address);
            }
            catch(Exception ex)
            {
                // todo
            }

            try
            {
                tab.Profile = await NFTHelpers.FindProfileNFT(tab.NFTs);
                if (!string.IsNullOrEmpty(tab.Profile.Utxo))
                    await tab.Profile.GetLastData();
            }
            catch(Exception ex)
            {
                // todo
            }
            StateHasChanged();
        }
    }

    private async Task removeTab(ActiveTab tab)
    {
        if (Tabs.Count > 0)
        {
            Tabs.Remove(tab);

            var t = Tabs.FirstOrDefault();
            if (t != null)
                t.Selected = true;

            var bst = await NFTHelpers.SerializeTabs(Tabs);
            await localStorage.SetItemAsync("browserTabs", bst);
        }
    }
}
